@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.exploringofferwall,
.exploringofferwall * {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.exploringOfferwallContainer {
  width: 100vw;
  /* max-width: 1920px; */
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstExploringContainer {
  background: url(/public/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100vw;
  position: relative;
  overflow: visible;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 1160px;
  background-color: var(--White, #fff);
}

.mobileFirstExploringContainer {
  display: none;
}


.topFirst {
  background: url(/public/heroExplore.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: flex-end;
  width: 1100px;
  height: 1060px;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 120px;
}

.mainFirst {
  width: 90%;
  height: 338px;
  background-color: var(--White, #fff);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.leftMain {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-top: 80px;

}

.leftImgInfo {
  height: 70px;
  display: flex;
}

.leftImg {
  width: 70px;
  height: 70px;
}


.rightMain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 860px;
  height: 216px;
  margin-top: 80px;
}

.text {
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: gotham-book;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 135%;
  z-index: 5;
}

.mainSecond {
  background-color: var(--White, #fff);
  width: 100%;
  height: 170px;
  display: flex;
  align-items: center;
}

.timeAndDateGroup {
  display: flex;
  width: 243px;
  justify-content: space-between;
  margin-left: 115px;
}

.timeToRead {
  display: flex;
  width: 93px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}

.date {
  display: flex;
  width: 110px;
  height: 24px;
  justify-content: space-between;
  align-items: center;
}

.goldElipse {
  height: 5px;
  display: flex;
}

.text1 {
  color: #4B4B4B;
  font-family: inter-regular;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  z-index: 5;
}


/*SECOND SECTION*/

.secondExploringContainer {
  width: 100vw;
  overflow: visible;
  position: relative;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 447px;
  background-color: #FAFAFA;

}

.mobileSecondExploringContainer {
  display: none;
}

.secondExploringBoxContainer {
  width: 1100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.secondExploringLeftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 338px;
}

.secondExploringContainerBox {
  width: 86px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  margin: 20px;
}


.roundButton {
  width: 86px;
  height: 86px;
}

.secondExploringRightContainer {
  display: flex;
  width: 800px;
  height: 272px;
}

.secondExploringText {
  color: var(--Primary-Black-1, #1E1E1E);
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: gotham-book;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
}




/*THIRD SECTION*/

.thirdExploringContainer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 3500px;
  padding-bottom: 100px;
}


.mobileThirdExploringContainer {
  display: none;
}

.thirdTextBox {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.thirdTextTitle {
  color: #1E1E1E;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: gotham-medium;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  text-align: left;
}

.thirdTextP {
  color: #1E1E1E;
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: left;
}

.thirdImageBox {
  width: 800px;
  display: flex;
  height: 629px;
}

.thirdImage {
  width: 738px;
  height: 629px;
}



/*FOURTH SECTION*/

.fourthExploringContainer {
  width: 100%;
  height: 1441px;
  display: flex;
  justify-content: space-around;
  background-color: #F0F0F0;
  flex-direction: column;
}

.mobileFourthExploringContainer {
  display: none;
}


.fourthExploringBox1 {
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Primary-Black-1, #1E1E1E);
  text-align: center;
  font-family: gotham-medium, sans-serif;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
  text-align: center;
  position: relative;

}


.fourthExploringBox2 {
  height: 1043px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.innerFourthExploringBox2 {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.fourthBox2Container {
  display: flex;
  justify-content: right;
  width: 528px;
  height: 1043px;
  flex-direction: column;
  background-color: #FFF;
  align-items: center;
}


.fourth2TopContainer {
  display: flex;
  width: 528px;
  height: 529px;
}

.fourth2BottomContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 468px;
  height: 514px;
}

.fourthTitleContainer {
  height: 144px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: gotham-medium, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  text-align: left;
}

.fourthTextContainer {
  height: 96px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: gotham-book, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  text-align: left;

}

.timeAndDateGroup2 {
  display: flex;
  width: 218px;
  justify-content: space-between;
}

.fourthButton {
  display: flex;
  height: 60px;
}

.buttonText {
  width: 210px;
  height: 60px;
  border: 1px solid #A18129;

  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
  margin-bottom: 30px;
}

.buttonText1 {
  border: 1px solid #A18129;
  width: 220px;
  height: 60px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #A18129;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-family: gotham-medium, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  z-index: 5;
  cursor: pointer;
}


/*FIFTH SECTION*/

.fifthExploringContainer {
  background-color: #F0F0F0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.fifthExploringBackground {
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  z-index: 5;
}

.mobileFifthExploringContainer {
  display: none;
}

.innerFifthExploringContainer1 {
  width: 1365px;
  height: 495px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-image: url(/public/newsletterBg.svg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  align-items: center;

}

.innerContentFifthContainer {
  display: flex;
  width: 572px;
  height: 367px;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.stayU2D {
  display: flex;
  height: 65px;
  font: 500 38px'gotham-medium', normal;
  line-height: 170%;
  color: #A18129;

}

.join {
  display: flex;
  height: 38px;
  font: 500 54px'gotham-medium', normal;
  line-height: 38px;
  color: #FFFFFF;
}


.subscribe {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.form {
  display: flex;
  position: relative;
  width: 556px;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.subscribeBox {
  display: flex;
  position: relative;
  justify-content: space-between;
  box-sizing: border-box;
  width: 325px;
  height: 60px;

}

::placeholder {
  font: 400 14px'gotham-book', normal;
  color: #BABCCE;
  line-height: 24px;

}

.inputE {
  padding: 0px 15px;
  width: 325px;
  height: 60px;
  border: 0.9375px solid #FFFFFF;
  font: 400 14px'gotham-book', normal;
  background-color: #10101000;
  line-height: 24px;
  color: #BABCCE;
}

.alertMessage {
  color: #BABCCE;
  font: 400 16px'gotham-book', normal;
  margin: 15px 0px;
}

.submit {
  display: flex;
  position: relative;
  width: 210px;
  height: 60px;

}

.submitButton {
  position: relative;
  width: 210px;
  height: 60px;
  background: #FFFFFF;
  color: #1E1E1E;
  font: 500 16px 'gotham-medium', normal;
  line-height: 15px;
  text-transform: uppercase;
  border: 0.9375px solid #FFFFFF;
}

.unsubscribe {
  display: flex;
  height: 24px;
  color: #BBBBBB;
  font: 400 15px'inter-regular', normal;

}

.bottomBG {
  margin-top: -160px;
  z-index: -5;

}

/*MOBILE RESPONSIVENESS*/


@media only screen and (max-width: 1130px) and (min-width: 320px) {


  .exploringOfferwallContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin-top: -150px;
  }


  /*FIRST MOBILE SECTION*/


  .firstExploringContainer {
    display: none;
  }

  .mobileFirstExploringContainer {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 1153px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  .mobileTopFirst {
    display: flex;
    width: 100vw;
    background-repeat: no-repeat;
    justify-content: center;
    background: url(/public/heroBackgroundMobile.svg) no-repeat right top 0;
    height: 1026px;
    padding-top: 100px;
  }


  .mobileMainFirst {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
  }

  .mobileTopMain {
    width: 341px;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }


  .mobileImgInfo {
    display: flex;
    align-items: flex-start;
  }

  .mobileImg {
    width: 343px;
    height: 411px;
  }


  .mobileBottomMain {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    height: 443px;
    z-index: 5;
    flex-direction: column;
    margin-top: 20px;
  }

  .text {
    color: var(--White, #FFF);
    font-family: gotham-book;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 108.5%;
    z-index: 5;
  }

  .text2 {
    color: var(--White, #FFF);
    font-family: gotham-light;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 108.5%;
    z-index: 5;
  }


  .parag {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .innerParag {
    color: #FFF;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
  }


  .buttonText {
    width: 210px;
    height: 50px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-bottom: 30px;
  }

  .buttonText1 {
    border: 1px solid #FFF;
    width: 220px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #1E1E1E;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    z-index: 5;
    cursor: pointer;
  }


  /*SECOND MOBILE SECTION*/

  .secondNonprofitContainer {
    display: none;
  }

  .mobileSecondNonprofitContainer {
    background-color: #F0F0F0;
    display: flex;
    width: 100%;
    height: 834px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }


  .mobileSecondNonprofitTopContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start
  }

  .mobileSecondNonprofitContainerBox1 {
    width: 350px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    align-items: flex-start;
  }

  .whatOffer {
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .secondLeft {
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .secondRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }


  .mobileSecondNonprofitBottomContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .mobileSecondNonprofitContainerBox2 {
    width: 354px;
    height: 483px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    align-items: center;
  }

  .mobileSecondBottomLeft {
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

  }

  .mobileSecondBottomMiddle {
    width: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobileSecondBottomRight {
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bottomEmote {
    width: 40px;
  }

  .mobileSecondBottomTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .spanBottom {
    color: var(--Primary-Black-1, #1E1E1E);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }


  /* THIRD MOBILE SECTION */

  .thirdNonprofitContainer {
    display: none;
  }

  .mobileThirdNonprofitContainer {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 797px;
  }


  .thirdNonprofitContainerBox {
    height: 797px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .thirdSectionLeft {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 311px;
  }

  .imageThirdNonprofitContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .imageThirdNonprofitContainer img {
    width: 293px;
    height: 310.26px;
  }


  .thirdSectionRight {
    width: 100%;
    height: 228px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .innerThirdSectionRight {
    width: 350px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


  .thirdSectionRightH1 {
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;

  }


  .thirdSectionRightP {
    width: 350px;
    height: 168px;
    display: flex;
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;

  }

  /* FOURTH MOBILE SECTION */

  .mobileFourthExploringContainer {
    width: 100%;
    max-width: 1920px;
    height: 1580px;
    display: flex;
    justify-content: center;
    background-color: #F0F0F0
  }

  .fourthExploringContainer {
    display: none;
  }



  .fourthExploringBox1 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: gotham-medium, sans-serif;
    font-size: 53px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    position: relative;

  }


  .fourthExploringBox2 {
    height: 1043px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
  }

  .innerFourthExploringBox2 {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .fourthBox2Container {
    display: flex;
    justify-content: right;
    width: 528px;
    height: 1043px;
    flex-direction: column;
    background-color: #FFF;
    align-items: center;
  }


  .fourth2TopContainer {
    display: flex;
    width: 528px;
    height: 529px;
  }

  .fourth2BottomContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 468px;
    height: 514px;
  }

  .fourthTitleContainer {
    height: 144px;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: gotham-medium, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    text-align: left;
  }

  .fourthTextContainer {
    height: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: gotham-book, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    text-align: left;

  }

  .timeAndDateGroup2 {
    display: flex;
    width: 218px;
    justify-content: space-between;
  }

  .fourthButton {
    display: flex;
    height: 60px;
  }

  .buttonText {
    width: 210px;
    height: 60px;
    border: 1px solid #A18129;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-bottom: 30px;
  }

  .buttonText1 {
    border: 1px solid #A18129;
    width: 220px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #A18129;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    z-index: 5;
    cursor: pointer;
  }












  /* FIFTH MOBILE SECTION */

  .fifthExploringContainer {
    display: none;
  }

  .mobileFifthExploringContainer {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 853px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }



  .fifthExploringBackground {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    z-index: 5;
  }


  .innerFifthExploringContainer1 {
    width: 1365px;
    height: 495px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-image: url(/public/newsletterBg.svg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    align-items: center;

  }

  .innerContentFifthContainer {
    display: flex;
    width: 572px;
    height: 367px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .stayU2D {
    display: flex;
    height: 65px;
    font: 500 38px'gotham-medium', normal;
    line-height: 170%;
    color: #A18129;

  }

  .join {
    display: flex;
    height: 38px;
    font: 500 54px'gotham-medium', normal;
    line-height: 38px;
    color: #FFFFFF;
  }


  .subscribe {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form {
    display: flex;
    position: relative;
    width: 556px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }



  .subscribeBox {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    width: 325px;
    height: 60px;

  }

  ::placeholder {
    font: 400 14px'gotham-book', normal;
    color: #BABCCE;
    line-height: 24px;

  }

  .inputE {
    padding: 0px 15px;
    width: 325px;
    height: 60px;
    border: 0.9375px solid #FFFFFF;
    font: 400 14px'gotham-book', normal;
    background-color: #10101000;
    line-height: 24px;
    color: #BABCCE;
  }

  .alertMessage {
    color: #BABCCE;
    font: 400 16px'gotham-book', normal;
    margin: 15px 0px;
  }

  .submit {
    display: flex;
    position: relative;
    width: 210px;
    height: 60px;

  }

  .submitButton {
    position: relative;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    color: #1E1E1E;
    font: 500 16px 'gotham-medium', normal;
    line-height: 15px;
    text-transform: uppercase;
    border: 0.9375px solid #FFFFFF;
  }

  .unsubscribe {
    display: flex;
    height: 24px;
    color: #BBBBBB;
    font: 400 15px'inter-regular', normal;

  }

  .bottomBG {
    margin-top: -160px;
    z-index: -5;

  }
}