@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

.newspaper,
.newspaper * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.newspaperContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstNewsContainer {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  overflow: visible;
  display: inline-block;
  margin: auto;
}

.mobileFirstNewsContainer {
  display: none;
}

.topFirst {
  background: url(/public/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100vw;
  display: flex;
  justify-content: center;
  height: 1026px;
}

.mobileTopFirstBg {
  display: none;
}

.mainFirst {
  width: 1220px;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}

.rightMain {
  width: 542px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--White, #fff);
  font-family: gotham-medium;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 87px;
  z-index: 5;
}

.text2 {
  color: var(--White, #fff);
  font-family: gotham-book;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  z-index: 5;
}

.parag {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
}

.innerParag {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.buttonText {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #fff;
}

.buttonText1 {
  color: #0a0a0a;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.leftMain {
  width: 50%;
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 195px;
}

.leftImg {
  width: 1190px;
  height: 862px;
  margin-left: -153px;
}

/*SECOND SECTION*/

.secondNewsContainer {
  width: 100%;
  max-width: 1920px;
  height: 1026px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.mobileSecondNewsContainer {
  display: none;
}

.secondNewsBox1 {
  padding-bottom: 70px;
}

.secondNewsBox1 h1 {
  color: var(--Primary-Black-1, #1e1e1e);
  text-align: center;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 50px;
}

.secondNewsBox2 {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  column-gap: 100px;
  row-gap: 20px;
  margin-left: 73px;
}

.secondNewsCard {
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.secondNewsCardImg {
  height: 60px;
  display: flex;
  align-items: end;
}

.secondNewsCard h1 {
  color: var(--Primary-Black-1, #1e1e1e);
  font-family: gotham-medium;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.secondNewsCard p {
  color: var(--Primary-Black-1, #1e1e1e);
  font-family: gotham-book;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin: 0;
  height: 167px;
}

.secondNewsCard span {
  font-family: gotham-medium;
  font-weight: 500;
}

/*THIRD SECTION*/
.thirdNewsContainer {
  background: url(/public/backgthird.png) no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1037px;
  gap: 112px;
}

.mobileThirdNewsContainer {
  display: none;
}

.thirdNewsImg > img {
  /* In figma it is 640x441, but it seams to small and I made it bigger */
  width: 700px;
  height: 500px;
}

.thirdNewsContent {
  width: 513px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.thirdNewsContent h1 {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 63.6px;
}

.thirdNewsContent p {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

/*FOURTH SECTION*/

.fourthNewsContainer {
  position: relative;
  width: 100%;
  max-width: 1920px;
  height: 950px;
  display: flex;
  justify-content: center;
}

.mobileFourthNewsContainer {
  display: none;
}

.fourthNewsContainerBox {
  height: 950px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}

.imageFourthNewsContainer {
  width: 100%;
  height: 950px;
  display: flex;
  align-items: flex-end;
  margin-left: 50px;
}
.fourthSectionRight {
  width: 400px;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  margin-left: 270px;
}

.fourthNewsImage {
  width: 47%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-top: 0px;
  position: absolute;
  top: 0;
  right: 0;
}

.fourthNewsImage img {
  width: 80%;
  margin-top: 220px;
  margin-right: 200px;
}

.fourthSectionLeft {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 250px;
  margin-right: 700px;
}

.innerFourthSectionLeft {
  display: flex;
  width: 700px;
  margin-left: -120px;
}

.fourthSectionLeftH1,
.with {
  color: #1e1e1e;

  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 45px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.fourthSectionLeftH2 {
  width: 600px;
  display: flex;
  margin-top: 60px;
  margin-left: -120px;
}

.fourthSectionLeftList {
  color: var(--White, black);
  font-family: gotham-book;
  width: 474px;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  height: 110px;
}

.buttonTextGold {
  width: 100%;
  display: flex;
  z-index: 5;
  margin-top: 230px;
}

.buttonText1Gold {
  border: 1px solid #a18129;
  background: #a18129;
  width: 220px;
  height: 46px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--Modal-grey-1, #fff);
  text-align: center;
  font-family: gotham-book, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  z-index: 5;
}

.bookingFormPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bookingFormContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) {
  .newsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin-top: -150px;
  }

  /*FIRST MOBILE SECTION*/

  .firstNewsContainer {
    display: none;
  }

  .mobileFirstNewsContainer {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 1094px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topFirst {
    background: none;
  }

  .topFirstBg {
    display: none;
  }

  .mobileTopFirstBg {
    display: flex;
    height: 1094px;
    width: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    background: url(/public/heroBackgroundMobile.svg) no-repeat right top 0;
  }

  .mainFirstMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  .rightMainMobile {
    display: flex;
    flex-direction: column;
  }

  .textMobile {
    color: var(--White, #fff);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    z-index: 5;
  }

  .text2Mobile {
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    z-index: 5;
  }

  .paragMobile {
    width: 100%;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .innerParagMobile {
    width: 352px;
    height: 95px;
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .buttonTextMobile {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .buttonText1Mobile {
    border: 1px solid #fff;
    width: 210px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: var(--Modal-grey-1, #000000);
    text-align: center;
    font-family: gotham-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
    z-index: 5;
    margin-top: 150px;
  }

  .leftMainMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .leftImgInfoMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 -20px 0;
  }

  .leftImgMobile {
    width: 485px;
    transition: all 2s ease;
  }

  /*SECOND MOBILE SECTION*/

  .mobileSecondNewsContainer {
    width: 100%;
    max-width: 1920px;
    height: 1907px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #ffffff;
  }

  .secondNewsContainer {
    display: none;
  }

  .mobileSecondNewsBox1 h1 {
    color: var(--Primary-Black-1, #1e1e1e);
    text-align: center;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .mobileSecondNewsBox2 {
    width: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  .mobileSecondNewsCard {
    padding: 30px;
    width: 273px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  .mobileSecondNewsCardImg {
    height: 60px;
    display: flex;
    align-items: end;
  }

  .mobileSecondNewsCard h1 {
    color: var(--Primary-Black-1, #1e1e1e);
    font-family: gotham-medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    text-align: center;
  }

  .mobileSecondNewsCard p {
    color: var(--Primary-Black-1, #1e1e1e);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    margin: 0;
  }

  .mobileSecondNewsCard span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  /* Third MOBILE SECTION */
  .thirdNewsContainer {
    display: none;
  }

  .mobileThirdNewsContainer {
    background: url(/public/backgthird.png) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 857px;
    gap: 77px;
  }

  .mobileThirdNewsImg > img {
    width: 350px;
    height: 250px;
  }

  .mobileThirdNewsContent {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
  }
  
  .mobileThirdNewsContent h1 {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }
  
  .mobileThirdNewsContent p {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  /* Fourth MOBILE SECTION */

  .fourthNewsContainer {
    display: none;
  }

  .mobileFourthNewsContainer {
    max-width: 1920px;
    height: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .mobileFourthSectionRight {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
  }

  .mobileFourthNewsImage {
    width: 250% !important;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    padding-bottom: 100px;
  }

  /*  .responsiveImageFourth {
          width: 250% !important;
          height: auto !important;
          display: block !important;
          margin: 0 auto !important;
      } */

  .mobileFourthNewsImage .fourthImageResponsive img {
    width: 100%;
  }

  .leftMobileFourthNewsContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 40%;
    margin-right: 650px;
  }

  .mobileFourthSectionLeft {
    width: 350px;
    margin-top: 420px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .innerMobileFourthSectionLeft {
    margin-top: -200px;
  }
  .mobileFourthSectionLeftH1 {
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  .mobileFourthSectionLeftH2 {
    margin-top: 0px;
    width: 350px;
    display: flex;
  }

  .mobileFourthSectionLeftList {
    color: var(--White, black);
    font-family: gotham-book;
    width: 474px;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 120%;
    height: 110px;
  }

  .mobileButtonTextGold {
    margin-top: 140px;
    display: flex;
    justify-content: center;
  }

  .mobileButtonText1Gold {
    border: 1px solid #a18129;
    background: #a18129;
    width: 220px;
    height: 46px;

    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Modal-grey-1, #fff);
    text-align: center;
    font-family: gotham-book, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 5;
  }
}

/* added some new breakpoints to smooth the transition of the images */

@media only screen and (max-width: 1600px) {
  .rightMain {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .leftMain {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 5;
  }

  .leftImg {
    width: 1000px;
    height: auto;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 1500px) {
  .fourthSectionLeft {
    margin-left: -150px;
  }

  .leftImg {
    width: 700px;
    height: auto;
    margin-right: 200px;
  }
}
@media only screen and (max-width: 1300px) {
  .leftImg {
    width: 700px;
    height: auto;
    margin-right: 400px;
  }
}

@media only screen and (max-width: 800px) {
  .leftImgMobile3 {
    width: 160%;
    height: 360px;
    transition: all 2s ease;
  }

  .mobileFourthtNewsContainer {
    background-color: #000000;
    display: flex;
    width: auto;
    height: 550px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileFourthNewsImage {
    width: 98% !important;
    height: auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
  .fourthImageResponsive {
    width: auto;
    height: 60%;
  }
  .mobileFourthSectionLeft {
    margin-top: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .leftImg {
    width: 500px;
    height: auto;
    margin-right: 200px;
  }
}

@media only screen and (max-width: 600px) {
  .mobileFourthNewsContainer {
    max-width: 1920px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }

  .mobileFourthSectionLeft {
    margin-top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .fourthImageResponsive {
    height: 40%;
    width: auto;
  }
}
@media only screen and (max-width: 500px) {
  .mobileFourthSectionLeft {
    margin-top: 260px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
}
