.bookingForm {
    width: 808px; 
    height: 694px;
    top: 175px;
    left: 352px;
    padding: 32px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    text-align: left;
    font: 400 15px "Poppins", sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.inlineFields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.bookingField {
    flex: 1;
}

.messageBox {
    width: 773px;
    height: 218px;
    border: 1px solid #1E1E1E;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 19px;
    box-sizing: border-box;
    text-align: left;
}

.formHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.formTitle {
    width: 372px;
    height: 50px;
    font-family: Gotham;
    font-size: 38px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: center;
    color: #07090A;
    background: none;
}

.closeButton {
    background: none;
    border: none;
    cursor: pointer;
}

.closeButton img {
    width: 24px;
    height: 24px;
}

.bookingForm {
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    text-align: left;
    font: 400 15px "Poppins", sans-serif;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
}

.sendGroup {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 34px;
    gap: 24px;
    width: 210px;
    height: 60px;
    background: #1E1E1E;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.sendButtonText {
    width: 124px;
    height: 38px;
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.bookingLabel {
    width: 360px;
    height: 30px;
    font-family: 'Gotham';
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #1E1E1E;
}

.dataBox {
    width: 360px;
    height: 46px;
    padding: 8px 18px;
    border: 1px solid #1E1E1E;
    background: #FFFFFF;
    gap: 16px;
    border-radius: 8px;
    box-sizing: border-box;
    text-align: left;
}

body.active-modal {
    overflow-y: hidden;
}

.btn-modal {
    padding: 10px 20px;
    display: block;
    margin: 100px auto 0;
    font-size: 18px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

@media only screen and (max-width: 768px) {
    .bookingForm {
        width: calc(100% - 40px); 
        height: auto;
        padding: 20px; 
        margin: 50px auto 0; 
        box-sizing: border-box;
    }
    
    .formTitle {
        width: auto; 
        font-size: 24px;
        line-height: 30px; 
        margin-bottom: 10px; 
        font-family: 'Gotham';
        font-weight: 500;
        color: #07090A;
        background: none;
        text-align: center;
    }
    
    .bookingLabel {
        width: 100%; 
        margin-bottom: 5px; 
    }
    
    .sendGroup {
        width: 100%; 
    }
    .modal-content {
        width: 90%; 
        max-width: 90%; 
        min-width: 90%; 
        padding: 10px; 
    }
    .overlay {
        padding: 0; 
    }
    .dataBox {
        width: 300px;
        height: 46px;
        padding: 8px 18px;
        border: 1px solid #1E1E1E;
        background: #FFFFFF;
        gap: 16px;
        border-radius: 8px;
        box-sizing: border-box;
        text-align: left;
    }

    .messageBox {
        width: 300px;
        height: 218px;
        border: 1px solid #1E1E1E;
        border-radius: 8px;
        background-color: #FFFFFF;
        padding: 19px;
        box-sizing: border-box;
        text-align: left;
    }

    .sendGroup {
        width: 80%;
        margin: auto
    }
}
