
.blog,
.blog * {
  box-sizing: border-box;
  
}

.blogMain {
  width: 100vw;
  max-width: 1530px;
  height: 100%;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.webResponsiveMainBlog {
  display: inline-block;
}

.mobileResponsiveMainBlog {
  display: none;
}

.blogBgImage {
  width: 100vw;
  max-width: 1530px;
  height: 736px;
  display: flex;
  background-position: center;
  background-size: cover;

}

.blogMain > img {
  width: 100%;
}

.blogSecondContainer {
  background: url(../../../public/blog_secondBg.png) no-repeat; 
  background-position: center;
  background-size: cover;
  width: 100vw; 
  max-width: 1530px; 
  height: 982px;
}

.firstRight {
  width: 100%;
  height: 720px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

}

.firstRight1 {
  width: 74%;
  height: 500px;
}

.exploreBlog {
  width: 668px;
  height: 76px;
  flex-shrink: 0;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
}

.blogE {
  color: var(--White, #E0FF22);
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.expertTips, .expertTips2 {
  width: 451px;
  height: 100px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: flex-end;
}

.expertTips2 {
  align-items: center;
}

.searchLayout {
  width: 320px;
  height: 130px;
  display: flex;
  align-items: flex-end;

}

.search {
  display: flex;
  width: 320px;
  height: 56px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(42, 42, 255, 0.11) 0%, rgba(42, 42, 255, 0.11) 100%), rgba(255, 255, 255, 0.48);
}

.searchBox {
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  display: flex;
  padding: 4px 20px;
  align-items: center;
  gap: 4px;
  flex: 1 0 0;
  align-self: stretch;
  outline: none;
  border: none;


}

::placeholder {
  color: var(--Primary-Black-1, #1E1E1E);
}

.search > img {
  display: flex;
  width: 48px;
  height: 48px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}

.search > img:hover {
   cursor: pointer;
}

.firstLeft {
  width: 100%;
  height: 720px;
  display: flex;
  align-items: flex-end;


}

.firstLeft1 {
  width: 74%;
  height: 490px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.signUpNews {
  width: 469px;
  height: 70px;
  flex-shrink: 0;
  color: var(--White, #FFF);
  text-align: right;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.searchLayoutEmail {
  width: 580px;
  height: 130px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;

}

.yourEmail {
  width: 323px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchEmail {
  display: flex;
  width: 320px;
  height: 45px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--White, #FFF);

}

.inputE {
  padding-left: 10px;
  height: 40px;
  font-size: 18px;
  background: none;
  width: 320px;
  outline: none;
  border: none;
  color: white;
}

.alertMessage {
  color: #E0FF22;
  font-size: 18px;
  font-weight: bold;
}

.signUpE {
  width: 585px;
  height: 85px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;

}

.signUpEmail {
  width: 192px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E0FF22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--Primary-Black-1, #1E1E1E);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.signUpEmail:hover {
  cursor: pointer;
}


/*.blogRight {*/
/*  width: 80%;*/
/*  height: 982px;*/
/*  position: relative;*/
/*  z-index: 2;*/
/*}*/

/*.blogLeft {*/
/*  width: 53%;*/
/*  height: 982px;*/
/*  position: absolute;*/
/*  z-index: 1;*/
/*  top: 736px;*/
/*  left: 710px;*/
/*}*/

/*.blogLeft > img {*/
/*  width: 100%;*/
/*  height: 981px;*/
/*  transition: all 1s ease;*/

/*}*/

/*.blogLeft > img:hover {*/
/*  overflow: hidden;*/
/*  transform:  scale(1.1);*/
/*}*/

.secondBlog {
  width: 52%;
  height: 900px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.subSecondBlog {
  width: 585px;
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

}

.recentArticle {
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  width: 585px;
  height: 100px;
  display: flex;
  align-items: flex-end;
}

.unlockingProfit {
  width: 585px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 350px;
  display: flex;
  align-items: flex-end;
}

.dateTimeManyGames1 {
  width: 585px;
  height: 250px;
  display: flex;
  flex-direction: column;
}

.dateTime1 {
  width: 480px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Secondary-grey-1, #B3ACAC);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.imgTime1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;

}

.imgTime > img {
  width: 24px;
  height: 24px;
}

.minRead1 {
  color: var(--Secondary-grey-1, #B3ACAC);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}



.manyGames {
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 474px;
}

.signUpE2 {
  width: 585px;
  height: 85px;
  display: flex;
  align-items: flex-end;
}

.subSignUpE2 {
  width: 545px;
  height: 45px;
  display: flex;
  justify-content: flex-end;
}

.signUpEmail2 {
  width: 192px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 4px;
  background: #E0FF22;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  color: var(--Primary-Black-1, #1E1E1E);
  text-align: center;
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: inherit;

}


.blogThirdContainer {
  width: 100%;
  height: 1250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.innerThirdBoxContainer {
  width: 74%;
  height: 999px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.innerThird1 {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.innerThirdBlog {
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 52px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.65px;
}

.innerThirdArticles {
  color: var(--Primary-Blue-1, #2A2AFF);
  text-align: right;
  font-family: Poppins, sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.innerThird2 {
  width: 100%;
  height: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.thirdRight {
  width: 54%;
  height: 660px;
  border-radius: 10px 10px 0px 0px;
}

.topRightThird {
  width: 100%;
  height: 285px;
  border-radius: 10px 10px 0 0;
}

.topRightThird > img {
  width: 100%;
  height: 330px;
}

.belowRightThird {
  width: 100%;
  height: 500px;
  border-radius: 0 0 10px 10px;
  background: #9AD3CC;
}

.innerBelowRightThird {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  align-items: center;
  justify-content: center;
}

.exploring {
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 180px;
  width: 480px;
}

.dateTime {
  width: 480px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

}

.imgTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 25%;

}

.imgTime > img {
  width: 24px;
  height: 24px;
}

.minRead {
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.readMoreExplore {
  width: 92%;
  height: 125px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.readMoreButton {
  display: flex;
  width: 192px;
  height: 45px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--Primary-Black-1, #1E1E1E);
  color: var(--Primary-Black-1, #1E1E1E);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}

.readMoreButton:hover {
  background-color: black;
  color: white;
}



.thirdLeft {
  width: 44%;
  height: 785px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.topLeftThird {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  background: #DFDFDE;
}

.topLeftThird > img {
  width: 100%;
}

.topLeftThirdBox1 {
  width: 100%;
  height: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mastering{
  width: 382px;
  flex-shrink: 0;
  height: 80px;
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
}

.leftDateTime {
  width: 382px;
  flex-shrink: 0;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--Primary-Black-1, #1E1E1E);
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leftImgTime {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 29%;

}

.LeftReadMoreExplore {
  width: 85%;
  height: 90px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.belowLeftThird {
  width: 100%;
  height: 380px;
  border-radius: 10px;
  background: #E7CAA2;
}

.belowLeftThird > img {
  width: 100%;
}



.blogFourthContainer {
  width: 100%;
  height: 700px;
  background-color: #5B56BD;
  display: flex;
  flex-direction: column;
}

.ToplogFourthContainer {
  display: flex;
}

.fourthMobileSection {
  display: none;
}

.blogFourthBox1 {
  width: 55%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
  padding-top: 100px;
}

.innerBlogFourthBox1 {
  width: 646px;
  height: 470px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.blogSignUpNews {
  width: 646px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: center;
  background: transparent;

}

.newsLetter {
  color: var(--White, #E0FF22);
  font-family: Poppins;
  font-size: 55px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  justify-content: flex-end;
}

.blogExpertTipsBox {
  width: 630px;
  height: 65px;

}

.blogExpertTips {
  width: 441px;
  height: 65px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  align-items: flex-end;
}

.blogNewsImageBox{
  width: 650px;
  height: 310px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.innerBlogNewsImageBox {
  width: 160px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.innerBlogNewsImageBox > img {
  width: 144px;
  height: 144px;
  margin-left: 20px;
}


.blogSignUpnews {
  color: var(--White, #FFF);
  text-align: center;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  background: transparent;

}

.secondAlertMessage {
  color: #E0FF22;
  font-size: 18px;
  font-weight: bold;
}

.blogFourthBox2 {
  width: 32%;
  height: 300px;
  display: flex;
  justify-content: flex-end;
}


.searchLayoutEmail3 {
  width: 340px;
  height: 130px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 100px;
}

.yourEmail3 {
  width: 323px;
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.searchEmail3 {
  display: flex;
  width: 320px;
  height: 45px;
  align-items: center;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--White, #FFF);
}

.inputE3 {
  padding-left: 10px;
  height: 40px;
  font-size: 18px;
  background: none;
  width: 320px;
  outline: none;
  border: none;
  color: white;
}

.lowerBlogFourthContainer {
  margin-top: 150px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}




.footerName {
  display: flex;
  align-items: flex-end;
  background-color: #5B56BD;;

}
.footerInfo {
  position: absolute;
  width: 100%;
  height: 370px;
  display: flex;
  justify-content: center;
}

.innerFooterInfo {
  width: 80%;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.TopFooterInfo {
  width: 100%;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.rightFooterInfo {
  width: 100%;
  height: 100px;

}

.imgValuable {
  width: 50%;
  height: 70px;
  display: flex;

}

.footerLogo {
  width: 50px;
  height: 58px;
}

.offerwall {
  width: 220px;
  height: 58px;
  padding-left: 12px;

}

.offerwallBox {
  color: #FFF;
  font: 400 30px/0%  "NordiquePro", sans-serif;
  font-size: 28px;
  font-weight: 700;
  line-height: 30px;
}

.monetization {
  color: #E0FF22;
  font: 400 30px/0% "NordiquePro-Bold", sans-serif;
  font-size: 28px;
  font-style: bold;
  font-weight: 500;
  line-height: 30px;
}

.valuable {
  width: 100%;
  height: 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 131.5%;
  color: #FFF;
}

.leftFooterInfo {
  width: 100%;
  height: 160px;
  display: flex;
  align-items: center;

}

.info {
  width: 100%;
  height: 20px;
}

.rightInfo {
  display: flex;
  justify-content: space-between;
  color: var(--Modal-grey-1, #DBDAD7);
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

}

.leftInfo {
  width: 20%;
  height: 100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 5px;
}


.footerDivider {
  width: 100%;
  height: 30px;

}

.footerDivider > hr {
  border: 0.5px solid #DEDEDE
}

.downFooterInfo {
  width: 100%;
  height: 120px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
}




/*MOBILE RESPONSIVENESS*/
@media only screen and (max-width: 1130px) and (min-width: 250px) {

  .webResponsiveMainBlog {
    display: none;
  }

  .mobileResponsiveMainBlog {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 3950px;
    position: relative;
    align-content: center;
    flex-wrap: wrap

  }

.FirstMobileBg {
  height: 970px;
  width: 100vw;
  position: relative;
  background-image: url(/public/mobileBG.svg);
  background-size: 100vw;
  background-position: center;

}

.mobileBgBox {
  width: 342px;
  height: 950px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: auto;

}

  .innerMobileBgBox {
    width: 342px;
    height: 800px;
  }

  .mobileExploreBlog {
    width: 342px;
    height: 46px;
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .mobileBlogg {
    color: #E0FF22;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 50px;
    display: flex;
    align-items: center;

  }

  .mobileExpertTips {
    width: 352px;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
  }

  .mobileSearch {
    width: 352px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }

  .innerMobileSearch {
    background: linear-gradient(0deg, rgba(42, 42, 255, 0.11) 0%, rgba(42, 42, 255, 0.11) 100%), rgba(255, 255, 255, 0.48);
    width: 320px;
    height: 56px;
    display: flex;
  }

  .mobileSearchContainer{
    padding-left: 20px;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    outline: none;
    border: none;
    width: 320px;
    height: 54px;

  }

  .mobileSearchContainer > img{
    width: 24px;
    height: 24px;
  }


  .mobileSignUpNews {
    width: 340px;
    height: 46px;
    flex-shrink: 0;
    color:#FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 140px;
  }

  .mobileSignUpNewsLetter {
    width: 352px;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
  }

.mobileSearchLayoutEmail{
  height: 70px;
  width: 352px;
  padding-top: 37px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.mobileYourEmail {
  color: var(--White, #FFF);
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 327px;

}

.mobileSearchEmail {
  border: 1px solid var(--White, #FFF);
  width: 325px;
  height: 45px;
  flex-shrink: 0;
}

.inputE {
  width: 310px;
  border: none;
  height: inherit;
  background: none;
  color: white
}

  .mobileSignUpE {
    padding-top: 50px;
    width: 340px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .mobileSignUpEmail {
    width: 192px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #E0FF22;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--Primary-Black-1, #1E1E1E);
  }

  .mobileSignUpEmail:hover {
    cursor: pointer;
  }

  .secondMobileSection {
    height: 800px;
    width: 100vw;

  }

  .secondMobileBg {
    width: 100vw;
    height: 855px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    background: url(../../../public/secondMobileBg.png) no-repeat;
    background-position: center;
    background-size: cover;
    
  }

  .secondMobileBgBox {
    width: 352px;
    height: 500px;
  }

  .mobileRecentArticle {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
  }

  .mobileUnlocking {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 33px;
  }

  .mobileDateTime {
    height: 70px;
    width: 352px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #B3ACAC;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .mobileImgTime {
    height: 70px;
    width: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileImgTime >img {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #B3ACAC;
  }

  .mobileMinRead {
    color: #B3ACAC;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
  }

  .mobileManyDevelopers {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .thirdMobileSection {
    height: 800px;
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 105px;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;


  }

  .thirdMobileBox1 {
    width: 352px;
    height: 30px;
    display: flex;
    justify-content: space-between;
  }

  .mobileBlog {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.72px;
  }

  .mobileArticles {
    color: var(--Primary-Blue-1, #2A2AFF);
    text-align: right;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    display: flex;
    align-items: center;
  }

  .thirdMobileBox2 {
    width: 352px;
    height: 400px;
    padding-top: 30px;

  }

  .innerThirdMobileBox2, .innerThirdMobileBox3, .innerThirdMobileBox4 {
    width: inherit;
    border-radius: 10px;
    background: #9AD3CC;
  }

  .innerThirdMobileBox2 > img {
    width: 352px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 10px 10px 0px 0px;
  }

  .innerThirdMobileBox2Container, innerThirdMobileBox2SecondContainer, .innerThirdMobileBox2thirdContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 420px;
    background: #9AD3CC;
    border-radius: 0px 0px 10px 10px;


  }

  .thirdMobileBox2Explore {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 312px;
    padding-top: 41px;

  }

  .mobileDateTime2, .mobileDateTime3, .mobileDateTime4 {
    width: 312px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .mobileImgTime2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
  }

  .mobileImgTime2 > img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  }

  .mobileSignUpE2 {
    padding-top: 50px;
    width: 312px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .mobileSignUpEmail2, .mobileSignUpEmail2Second, .mobileSignUpEmail2Third {
    width: 192px;
    height: 45px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Primary-Black-1, #1E1E1E);
    background: #9AD3CC;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .thirdMobileBox3 {
    width: 352px;
    height: 400px;
    margin-top: 260px;

  }

  .innerThirdMobileBox3, .innerThirdMobileBox4 {
    background: #DFDFDE;
  }

  .innerThirdMobileBox2SecondContainer, .innerThirdMobileBox2thirdContainer {
    background: #DFDFDE;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 430px;
    border-radius: 0 0 10px 10px;
  }

  .mobileDateTime3, .mobileDateTime4 {
    padding-top: 84px;
  }

  .mobileSignUpEmail2Second, .mobileSignUpEmail2Third {
    background: #DFDFDE;
  }

  .thirdMobileBox4 {
    margin-top: 270px;
  }

  .innerThirdMobileBox4 {
    background: #E7CAA2;
  }

  .innerThirdMobileBox2thirdContainer {
    background: #E7CAA2;
  }

  .mobileDateTime4 {
    padding-top: 50px;
  }

  .mobileSignUpEmail2Third {
    background: #E7CAA2;
  }

  .fourthMobileSection {
    width: 100vw;
    height: 750px;
    background: #5B56BD;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-bottom: 250px;

  }

  .mobileBlogSignUpNews {
    width: 352px;
    height: 48px;
    flex-shrink: 0;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
  }

  .mobileNewsLetter {
    color: var(--White, #E0FF22);
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .fourthMobileSignUp {
    width: 352px;
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 30px;
  }

  .inputE {
    width: 314px;
  }

  .mobileBlogNewsImageBox {
    padding-top: 63px;


  }

  .innerMobileBlogNewsImageBox {
    display: flex;
    flex-direction: column;
    align-items: center;

  }

  .innerMobileBlogNewsImageBox > img {
    width: 144px;
    height: 144px;
  }

  .blogSignUpnews {
    width: 207px;
    height: 50px;
    flex-shrink: 0;
    margin-top: 50px;

  }

  .mobileAlertMessage {
    margin-top: 10px;
    color: #E0FF22;
    font-size: 18px;
    font-weight: bold;
  }


}






/*.blog {*/
/*  background: var(--white, #ffffff);*/
/*  width: 1530px;*/
/*  height: 4100px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  margin: auto;*/
/*}*/
/*.section-4 {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.section-4-background {*/
/*  background: #5b56bd;*/
/*  width: 1530px;*/
/*  height: 750px;*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 2965px;*/
/*}*/
/*.sign-up-box {*/
/*  border-style: solid;*/
/*  border-color: #ffffff;*/
/*  border-width: 1px;*/
/*  width: 320px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 991px;*/
/*  top: 3217px;*/
/*}*/
/*.your-e-mail {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 400 15px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 988px;*/
/*  top: 3191px;*/
/*}*/
/*.sign-up-for-our-newsletter-to-receive-exclusive-updates-and-the-latest-news-delivered-directly-to-your-inbox {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 400 15px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 3224px;*/
/*  width: 441px;*/
/*}*/
/*.sign-up-for-newsletter {*/
/*  text-align: left;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 3126px;*/
/*  width: 646px;*/
/*  height: 68px;*/
/*}*/
/*.sign-up-for-newsletter-span {*/
/*  color: #ffffff;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*}*/
/*.sign-up-for-newsletter-span2 {*/
/*  color: #e0ff22;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*}*/
/*.sign-up {*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font: 500 30px "Inter", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 650px;*/
/*  top: 3534px;*/
/*  width: 207px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.sign-up-button {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  position: absolute;*/
/*  left: calc(50% - 72px);*/
/*  top: 3484px;*/
/*  transform-origin: 0 0;*/
/*  transform: rotate(-90deg) scale(1, 1);*/
/*}*/
/*.rectangle-1173 {*/
/*  background: #e0ff22;*/
/*  border-radius: 134px;*/
/*  flex-shrink: 0;*/
/*  width: 144px;*/
/*  height: 144px;*/
/*  position: relative;*/
/*}*/
/*.next {*/
/*  flex-shrink: 0;*/
/*  position: absolute;*/
/*  left: 111px;*/
/*  top: 33px;*/
/*  transform: translate(0px, 0px);*/
/*  overflow: visible;*/
/*}*/
/*.hero {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.hero-background {*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: -1px;*/
/*  overflow: visible;*/
/*}*/
/*.sign-up-for-newsletter2 {*/
/*  color: #ffffff;*/
/*  text-align: right;*/
/*  font: 700 40px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 842px;*/
/*  top: 212px;*/
/*  width: 469px;*/
/*  height: 68px;*/
/*}*/
/*.sign-up-for-our-newsletter-to-receive-exclusive-updates-and-the-latest-news-delivered-directly-to-your-inbox2 {*/
/*  color: #ffffff;*/
/*  text-align: right;*/
/*  font: 400 15px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 860px;*/
/*  top: 301px;*/
/*  width: 451px;*/
/*}*/
/*.explore-our-blog {*/
/*  text-align: left;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 195px;*/
/*  width: 668px;*/
/*  height: 76px;*/
/*}*/
/*.explore-our-blog-span {*/
/*  color: #ffffff;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*}*/
/*.explore-our-blog-span2 {*/
/*  color: #e0ff22;*/
/*  font: 700 55px "Poppins", sans-serif;*/
/*}*/
/*.explore-our-blog-for-expert-tips-success-stories-and-industry-updates-on-maximizing-your-earnings-through-offerwall-monetisation {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 400 15px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 301px;*/
/*  width: 451px;*/
/*}*/
/*.search-bar {*/
/*  background: linear-gradient(*/
/*      to left,*/
/*      rgba(42, 42, 255, 0.11),*/
/*      rgba(42, 42, 255, 0.11)*/
/*    ),*/
/*    linear-gradient(*/
/*      to left,*/
/*      rgba(255, 255, 255, 0.48),*/
/*      rgba(255, 255, 255, 0.48)*/
/*    );*/
/*  border-radius: 4px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 4px;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  width: 320px;*/
/*  height: 56px;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 433px;*/
/*  overflow: hidden;*/
/*}*/
/*.state-layer {*/
/*  padding: 4px 30px 4px 30px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 4px;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  align-self: stretch;*/
/*  flex: 1;*/
/*  position: relative;*/
/*}*/
/*.content {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*  align-self: stretch;*/
/*  flex: 1;*/
/*  position: relative;*/
/*}*/
/*.supporting-text {*/
/*  color: #1e1e1e;*/
/*  text-align: left;*/
/*  font: 400 16px/24px "Poppins", sans-serif;*/
/*  position: relative;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: flex-start;*/
/*}*/
/*._1st-trailing-icon {*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  width: 48px;*/
/*  height: 48px;*/
/*  position: absolute;*/
/*  left: 467px;*/
/*  top: 437px;*/
/*}*/
/*.container {*/
/*  border-radius: 100px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*}*/
/*.state-layer2 {*/
/*  padding: 8px;*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 10px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*}*/
/*.icons-search-24-px {*/
/*  flex-shrink: 0;*/
/*  position: relative;*/
/*  overflow: visible;*/
/*}*/
/*.group-1000004488 {*/
/*  width: 192px;*/
/*  height: 45px;*/
/*  position: static;*/
/*}*/
/*.rectangle-1177 {*/
/*  background: #e0ff22;*/
/*  border-radius: 4px;*/
/*  border-style: solid;*/
/*  border-color: transparent;*/
/*  border-width: 1px;*/
/*  width: 192px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 1119px;*/
/*  top: 535px;*/
/*}*/
/*.sign-up2 {*/
/*  color: #1e1e1e;*/
/*  text-align: center;*/
/*  font: 500 15px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 1159px;*/
/*  top: 547px;*/
/*  width: 112px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.your-e-mail2 {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 400 15px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 991px;*/
/*  top: 417px;*/
/*}*/
/*.rectangle-1227 {*/
/*  border-style: solid;*/
/*  border-color: #ffffff;*/
/*  border-width: 1px;*/
/*  width: 320px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 991px;*/
/*  top: 443px;*/
/*}*/
/*.line-17 {*/
/*  border-style: solid;*/
/*  border-color: #dedede;*/
/*  border-width: 1px 0 0 0;*/
/*  width: 1110px;*/
/*  height: 0px;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 102px;*/
/*}*/
/*.section-2 {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.section-2-background {*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    rgba(30, 30, 30, 1) 0%,*/
/*    rgba(30, 30, 30, 1) 52.64902710914612%,*/
/*    rgba(30, 30, 30, 0.84) 55.75513243675232%,*/
/*    rgba(30, 30, 30, 0.71) 58.87749791145325%,*/
/*    rgba(30, 30, 30, 0.29) 68.96513104438782%,*/
/*    rgba(30, 30, 30, 0) 100%*/
/*  );*/
/*  width: 1513px;*/
/*  height: 982px;*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 735px;*/
/*}*/
/*.unlocking-profit-potential-the-power-of-offerwall-monetization-in-mobile-apps {*/
/*  color: var(--white, #ffffff);*/
/*  text-align: left;*/
/*  font: 700 50px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 923px;*/
/*  width: 585px;*/
/*}*/
/*.many-game-developers-struggle-with-understanding-the-best-way-to-monetize-a-mobile-game-resorting-to-flooding-their-users-with-ads-that-interrupt-the-user-experience-and-cause-their-users-to-write-negative-reviews {*/
/*  color: var(--white, #ffffff);*/
/*  text-align: left;*/
/*  font: 400 18px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 1293px;*/
/*  width: 474px;*/
/*}*/
/*.recent-article {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 700 30px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 828px;*/
/*  width: 668px;*/
/*}*/
/*.jul-19-2023 {*/
/*  color: #b3acac;*/
/*  text-align: left;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 1249px;*/
/*}*/
/*.section-2-read-time {*/
/*  width: 113px;*/
/*  height: 24px;*/
/*  position: absolute;*/
/*  left: 562px;*/
/*  top: 1246px;*/
/*}*/
/*._8-min-read {*/
/*  color: #b3acac;*/
/*  text-align: left;*/
/*  font: 400 14px/24px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 37px;*/
/*  top: 0px;*/
/*}*/
/*.time {*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 0px;*/
/*  overflow: visible;*/
/*}*/
/*.section-2-button {*/
/*  width: 191px;*/
/*  height: 45px;*/
/*  position: static;*/
/*}*/
/*.rectangle-1176 {*/
/*  background: #e0ff22;*/
/*  border-radius: 4px;*/
/*  width: 191px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 594px;*/
/*  top: 1498px;*/
/*}*/
/*.read-more {*/
/*  color: #1e1e1e;*/
/*  text-align: center;*/
/*  font: 600 15px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 613px;*/
/*  top: 1510px;*/
/*  width: 153px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.section-3 {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.browse {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 700 40px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 1850px;*/
/*  width: 668px;*/
/*}*/
/*.section-3-box-1 {*/
/*  background: #9ad3cc;*/
/*  border-radius: 10px;*/
/*  width: 602px;*/
/*  height: 805px;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 1922px;*/
/*}*/
/*.section-3-box-2 {*/
/*  background: #dfdfde;*/
/*  border-radius: 10px;*/
/*  width: 488px;*/
/*  height: 392px;*/
/*  position: absolute;*/
/*  left: 823px;*/
/*  top: 1922px;*/
/*}*/
/*.section-3-box-3 {*/
/*  background: #e7caa2;*/
/*  border-radius: 10px;*/
/*  width: 488px;*/
/*  height: 392px;*/
/*  position: absolute;*/
/*  left: 823px;*/
/*  top: 2335px;*/
/*}*/
/*.all-articles {*/
/*  color: #2a2aff;*/
/*  text-align: right;*/
/*  font: 500 25px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 1075px;*/
/*  top: 1866px;*/
/*  width: 236px;*/
/*}*/
/*.exploring-offerwall-solutions-for-monetization-and-retention-a-comparative-analysis {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 700 30px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 258px;*/
/*  top: 2314px;*/
/*  width: 470px;*/
/*}*/
/*.frame-23-4-1 {*/
/*  border-radius: 10px 10px 0px 0px;*/
/*  width: 602px;*/
/*  height: 342px;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 1922px;*/
/*}*/
/*.jul-19-20232 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 258px;*/
/*  top: 2514px;*/
/*  width: 184px;*/
/*}*/
/*.behind-the-scenes-how-advertisers-create-irresistible-offerwall-campaigns {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 700 18px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 871px;*/
/*  top: 2504px;*/
/*  width: 394px;*/
/*}*/
/*.jul-28-2023 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 871px;*/
/*  top: 2578px;*/
/*  width: 117px;*/
/*}*/
/*.mastering-offerwall-monetisation-strategies-to-boost-your-earnings {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 700 18px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 871px;*/
/*  top: 2091px;*/
/*  width: 382px;*/
/*}*/
/*.jul-28-20232 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 871px;*/
/*  top: 2165px;*/
/*  width: 117px;*/
/*}*/
/*.rectangle {*/
/*  border-radius: 10px 10px 0px 0px;*/
/*  width: 488px;*/
/*  height: 149px;*/
/*  position: absolute;*/
/*  left: 823px;*/
/*  top: 1922px;*/
/*}*/
/*.rectangle2 {*/
/*  border-radius: 10px 10px 0px 0px;*/
/*  width: 488px;*/
/*  height: 149px;*/
/*  position: absolute;*/
/*  left: 823px;*/
/*  top: 2335px;*/
/*}*/
/*._8-min-read2 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: left;*/
/*  font: 400 14px/24px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 656px;*/
/*  top: 2514px;*/
/*}*/
/*.time2 {*/
/*  position: absolute;*/
/*  left: 619px;*/
/*  top: 2514px;*/
/*  overflow: visible;*/
/*}*/
/*._8-min-read3 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: right;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 1168px;*/
/*  top: 2165px;*/
/*  width: 85px;*/
/*}*/
/*.time3 {*/
/*  position: absolute;*/
/*  left: 1141px;*/
/*  top: 2164px;*/
/*  overflow: visible;*/
/*}*/
/*._8-min-read4 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: right;*/
/*  font: 400 14px "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 1168px;*/
/*  top: 2578px;*/
/*  width: 85px;*/
/*}*/
/*.time4 {*/
/*  position: absolute;*/
/*  left: 1141px;*/
/*  top: 2577px;*/
/*  overflow: visible;*/
/*}*/
/*.button-2 {*/
/*  width: 192px;*/
/*  height: 45px;*/
/*  position: static;*/
/*}*/
/*.rectangle-11772 {*/
/*  border-radius: 4px;*/
/*  border-style: solid;*/
/*  border-color: #1e1e1e;*/
/*  border-width: 1px;*/
/*  width: 192px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 560px;*/
/*  top: 2642px;*/
/*}*/
/*.read-more2 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: center;*/
/*  font: 500 15px "Inter", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 600px;*/
/*  top: 2654px;*/
/*  width: 112px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.rectangle-11773 {*/
/*  border-radius: 4px;*/
/*  border-style: solid;*/
/*  border-color: #1e1e1e;*/
/*  border-width: 1px;*/
/*  width: 192px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 1073px;*/
/*  top: 2647px;*/
/*}*/
/*.read-more3 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: center;*/
/*  font: 500 15px "Inter", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 1113px;*/
/*  top: 2659px;*/
/*  width: 112px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.rectangle-11774 {*/
/*  border-radius: 0px;*/
/*  position: absolute;*/
/*  left: 1073px;*/
/*  top: 2234px;*/
/*  overflow: visible;*/
/*}*/
/*.read-more4 {*/
/*  color: var(--primary-black-1, #1e1e1e);*/
/*  text-align: center;*/
/*  font: 500 15px "Inter", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 1113px;*/
/*  top: 2246px;*/
/*  width: 112px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.footer {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.footer-background-3 {*/
/*  position: absolute;*/
/*  left: 1530px;*/
/*  top: 3518px;*/
/*  transform: translate(-1530px, 0px);*/
/*  overflow: visible;*/
/*  background-image:*/
/*  url(*/
/*"/public/footer2.png");*/
/*}*/
/*.footer-background-2 {*/
/*  opacity: 0.20000000298023224;*/
/*  position: absolute;*/
/*  left: 1530px;*/
/*  top: 3555.41px;*/
/*  transform: translate(-1530px, 0px);*/
/*  overflow: visible;*/
/*}*/
/*.footer-background-1 {*/
/*  opacity: 0.20000000298023224;*/
/*  position: absolute;*/
/*  left: 1530px;*/
/*  top: 3484px;*/
/*  transform: translate(-1530px, 0px);*/
/*  overflow: visible;*/
/*}*/
/*.copyright-2023-offerwall-monetization-all-rights-reserved {*/
/*  color: var(--modal-grey-1, #dbdad7);*/
/*  text-align: center;*/
/*  font: 400 16px "Rubik", sans-serif;*/
/*  position: absolute;*/
/*  left: 526.5px;*/
/*  bottom: 68.45px;*/
/*}*/
/*.frame-414 {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 15px;*/
/*  align-items: flex-start;*/
/*  justify-content: center;*/
/*  position: absolute;*/
/*  left: 779px;*/
/*  top: 3817.55px;*/
/*}*/
/*.fa-qs {*/
/*  color: var(--modal-grey-1, #dbdad7);*/
/*  text-align: center;*/
/*  font: 400 18px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*  width: 53px;*/
/*}*/
/*.blog2 {*/
/*  color: var(--modal-grey-1, #dbdad7);*/
/*  text-align: center;*/
/*  font: 400 18px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*  width: 55px;*/
/*}*/
/*.partnerships {*/
/*  color: var(--modal-grey-1, #dbdad7);*/
/*  text-align: center;*/
/*  font: 400 18px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*  width: 143px;*/
/*}*/
/*.privacy-policy {*/
/*  color: var(--modal-grey-1, #dbdad7);*/
/*  text-align: center;*/
/*  font: 400 18px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*  width: 159px;*/
/*}*/
/*.linked-in {*/
/*  position: absolute;*/
/*  left: 1281px;*/
/*  top: 3809.55px;*/
/*  overflow: visible;*/
/*}*/
/*.footer-title {*/
/*  text-align: left;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*  position: absolute;*/
/*  left: 262px;*/
/*  top: 3783.55px;*/
/*}*/
/*.footer-title-span {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.footer-title-span2 {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.footer-title-span3 {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.footer-title-span4 {*/
/*  color: #e0ff22;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.footer-slogan {*/
/*  color: #ffffff;*/
/*  text-align: left;*/
/*  font: 400 15px/131.5% "Poppins", sans-serif;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 3860.55px;*/
/*  width: 681px;*/
/*  height: 36px;*/
/*}*/
/*.footer-logo {*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 3789.55px;*/
/*  overflow: visible;*/
/*}*/
/*.footer-divider {*/
/*  border-style: solid;*/
/*  border-color: #dedede;*/
/*  border-width: 1px 0 0 0;*/
/*  width: 1110px;*/
/*  height: 0px;*/
/*  position: absolute;*/
/*  left: 201px;*/
/*  top: 3909.55px;*/
/*}*/
/*.header {*/
/*  position: absolute;*/
/*  inset: 0;*/
/*}*/
/*.rectangle-1175 {*/
/*  background: linear-gradient(*/
/*    90deg,*/
/*    rgba(81, 79, 177, 1) 0%,*/
/*    rgba(76, 117, 183, 1) 24.304988980293274%,*/
/*    rgba(53, 159, 173, 1) 77.56538987159729%,*/
/*    rgba(44, 175, 168, 1) 98.4375%*/
/*  );*/
/*  opacity: 0.8999999761581421;*/
/*  width: 1530px;*/
/*  height: 101px;*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 0px;*/
/*  backdrop-filter: blur(2px);*/
/*}*/
/*.request-contact-button {*/
/*  width: 191px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 1250px;*/
/*  top: 32px;*/
/*}*/
/*.rectangle-11762 {*/
/*  background: #e0ff22;*/
/*  border-radius: 4px;*/
/*  width: 191px;*/
/*  height: 45px;*/
/*  position: absolute;*/
/*  left: 0px;*/
/*  top: 0px;*/
/*}*/
/*.request-contact {*/
/*  color: #130e5b;*/
/*  text-align: center;*/
/*  font: 500 15px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: absolute;*/
/*  left: 19px;*/
/*  top: 12px;*/
/*  width: 153px;*/
/*  height: 20px;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*}*/
/*.frame-413 {*/
/*  display: flex;*/
/*  flex-direction: row;*/
/*  gap: 81px;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  position: absolute;*/
/*  left: 490px;*/
/*  top: 42px;*/
/*}*/
/*.ho-me {*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font: 500 16px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*}*/
/*.how-it-works {*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font: 500 16px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*}*/
/*.blog3 {*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font: 500 16px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*}*/
/*.about-us {*/
/*  color: #ffffff;*/
/*  text-align: center;*/
/*  font: 500 16px "Poppins", sans-serif;*/
/*  text-transform: uppercase;*/
/*  position: relative;*/
/*}*/
/*.group-3 {*/
/*  position: absolute;*/
/*  left: 73px;*/
/*  top: 25px;*/
/*  overflow: visible;*/
/*}*/
/*.offfferwall-monetization {*/
/*  text-align: left;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*  position: absolute;*/
/*  left: 134px;*/
/*  top: 22px;*/
/*}*/
/*.offfferwall-monetization-span {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.offfferwall-monetization-span2 {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.offfferwall-monetization-span3 {*/
/*  color: #ffffff;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
/*.offfferwall-monetization-span4 {*/
/*  color: #e0ff22;*/
/*  font: 400 30px/0% "NordiquePro-Bold", sans-serif;*/
/*}*/
