@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.tapjoyVsSmatched .tapjoyVsSmatched * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.tapjoyVsSmatchedContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerToMatchDesign {
  /* This container is used when the section has a left and a right box.
width: 1512px is the current(Jan/2024) design on Figma, so using this container
makes easier to position boxes into the section and matches the design.
justify-content: flex-start, instead of center is easier to align
the boxes from margin left. */

  width: 1512px;
  display: flex;
  justify-content: flex-start;
}

/*FIRST SECTION*/

.firstTapjoyVsSmatchedContainer {
  background-color: #f0f0f0;
  min-height: 1010px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileFirstTapjoyVsSmatchedContainer {
  display: none;
}

.firstContent {
  width: 605px;
  height: 492px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 0 73px 0 118px;
}

.firstContent > h1 {
  color: #07090a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.firstContent > p {
  overflow: hidden;
  color: #07090a;
  font-feature-settings: 'clig' off, 'liga' off;
  text-overflow: ellipsis;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

.firstImage {
  width: 636px;
  height: 663px;
  flex-shrink: 0;
}

/*SECOND SECTION*/

.secondTapjoyVsSmatchedContainer {
  background-color: #fdfdff;
  min-height: 726px; /* it was not especified, I set by summing the boxes heigth and margins*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileSecondTapjoyVsSmatchedContainer {
  display: none;
}

.secondContent {
  width: 526px;
  height: 425px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 176px 35px 0px 118px;
}

.secondContent > h2 {
  color: #1e1e1e;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.secondContent > p {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

/*THIRD SECTION*/

.thirdTapjoyVsSmatchedContainer {
  background-color: #fdfdff;
  min-height: 1036px; /* it was not especified, I set by summing the boxes heigth and margins*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 81px;
}

.mobileThirdTapjoyVsSmatchedContainer {
  display: none;
}

.thirdCardGreen,
.thirdCardRed {
  width: 580px;
  height: 645px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  gap: 50px;
  /* padding: 49px 40px; it is from the design, but it doesn't fit here */
  background: #fff;
}

.thirdCardGreen {
  box-shadow: 0px 0px 29px 0px rgba(110, 217, 140, 0.25);
}

.thirdCardRed {
  box-shadow: 0px 0px 29px 0px rgba(248, 90, 90, 0.25);
}

.thirdTitle {
  color: #1e1e1e;
  font-family: gotham-medium;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.thirdSpanGreen {
  color: #6ed98c;
}

.thirdSpanRed {
  color: #f85a5a;
}

.thirdList {
  width: 500px;
  height: 381px;
  /* flex-shrink: 0; */
}

.thirdListItem {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-right: 28px;
}

.thirdSpanBold {
  font-family: gotham-medium;
  font-weight: 500;
}

/*FOURTH SECTION*/

.fourthTapjoyVsSmatchedContainer {
  background: url(/public/images/tapjoyvssmatchedPage/tapVsSmat_sec4_web_bg.png)
    no-repeat;
  background-size: cover;
  min-height: 887px; /* it was not especified, I set by summing the boxes heigth and margins*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.mobileFourthTapjoyVsSmatchedContainer {
  display: none;
}

.fourthImages {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 35px;
  margin: 136px 127px -13px 282px;
}

.fourthContent {
  width: 561px;
  height: 365px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin: 261px 131px 0px 0px;
}

/* The fontes in the design title and paragraph seems thinner then here! */
.fourthContent > h2 {
  width: 558px;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.fourthContent > p {
  width: 561px;
  flex-shrink: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

/*FIFTH SECTION*/

.fifthTapjoyVsSmatchedContainer {
  background-color: #fdfdff;
  min-height: 880px; /* it was not especified, I set by summing the boxes height and margins*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileFifthTapjoyVsSmatchedContainer {
  display: none;
}

.fifthTapjoyVsSmatchedContainer > h2 {
  width: 886px;
  color: #1e1e1e;
  text-align: center;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 120px;
}

.fifthMobileCardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}

.fifthCard {
  width: 430px;
  height: 383px;
  flex-shrink: 0;
  background: #fff;
  box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.13);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifthCard > h3 {
  color: #1e1e1e;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 170%;
}

.fifthCard > p {
  width: 343px;
  /* height: 216px; */
  text-align: center;
  flex-shrink: 0;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  margin-top: 20px;
}

.fifthCardIconOne {
  width: 90px;
  height: 90px;
  margin-top: 44px;
  margin-bottom: 25px;
}

.fifthCardIconTwo {
  width: 81px;
  height: 96px;
  margin-top: 38px;
  margin-bottom: 25px;
}

.fifthCardIconThree {
  width: 91px;
  height: 88px;
  margin-top: 45px;
  margin-bottom: 25px;
}

/*SIXTH SECTION*/

.sixthTapjoyVsSmatchedContainer {
  background-color: #fdfdff;
  min-height: 1400px; /* it was not especified, I set by summing the boxes height and margins */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mobileSixthTapjoyVsSmatchedContainer {
  display: none;
}

.sixthContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  margin-bottom: 96px;
  text-align: center;
}

.sixthContent > h2 {
  width: 870px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
}

.sixthContent > p {
  width: 951px;
  height: 246px;
  flex-shrink: 0;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  .tapjoyVsSmatchedContainer {
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* FIRST MOBILE SECTION */

  .firstTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileFirstTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 966px; /* 1010px -44 Smartphne statusBar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstMobileImage {
    margin-top: 137px;
  }

  .firstMobileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 9px 22px 76px 21px;
  }

  .firstMobileContent > h1 {
    width: 354px;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .firstMobileContent > p {
    width: 354px;
    height: 157px;
    overflow: hidden;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  /* SECOND MOBILE SECTION*/

  .secondTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileSecondTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 966px; /* it is not especified, so I kept the same as the first section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondMobileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 21px 22px 76px 21px;
  }

  .secondMobileContent > h2 {
    width: 350px;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .secondMobileContent > p {
    width: 350px;
    /* height: 249px; */
    flex-shrink: 0;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
  }

  /* THIRD SECTION*/

  .thirdTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileThirdTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 1150px; /* it was not especified, I set by summing the boxes heigth and margins*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thirdMobileCardGreen,
  .thirdMobileCardRed {
    width: 350px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 24px;
    /* padding: 40px 37px; it is from the design, but it doesn't fit here */
    margin: 0px 22px 35px 21px;
    background: #fff;
  }

  .thirdMobileCardGreen {
    box-shadow: 0px 0px 29px 0px rgba(110, 217, 140, 0.25);
  }

  .thirdMobileCardRed {
    box-shadow: 0px 0px 29px 0px rgba(248, 90, 90, 0.25);
  }

  .thirdMobileTitle {
    color: #1e1e1e;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .thirdMobileSpanGreen {
    color: #6ed98c;
  }

  .thirdMobileSpanRed {
    color: #f85a5a;
  }

  .thirdMobileList {
    width: 300px;
    height: 300px;
    /* flex-shrink: 0; */
  }

  .thirdMobileListItem {
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-right: 18px;
  }

  .thirdMobileSpanBold {
    font-family: gotham-medium;
    font-weight: 500;
  }

  /* FOURTH SECTION*/

  .fourthTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileFourthTapjoyVsSmatchedContainer {
    background: url(/public/images/tapjoyvssmatchedPage/tapVsSmat_sec4_mobile_bg.png)
      no-repeat;
    background-size: cover;
    min-height: 1065px; /* it was not especified, I set by summing the boxes heigth and margins*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .fourthMobileImages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 89px;
  }

  .fourthMobileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 30px 22px 76px 21px;
  }

  /* The fontes in the design title and paragraph seems thinner then here! */
  .fourthMobileContent > h2 {
    width: 350px;
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .fourthMobileContent > p {
    width: 350px;
    flex-shrink: 0;
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  /* FIFTH SECTION*/

  .fifthTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileFifthTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 1500px; /* it was not especified, I set by summing the boxes height and margins*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileFifthTapjoyVsSmatchedContainer > h2 {
    width: 350px;
    color: #1e1e1e;
    text-align: center;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 67px;
  }

  .fifthMobileCard {
    width: 350px;
    height: 383px;
    flex-shrink: 0;
    background: #fff;
    box-shadow: 0px 0px 29px 0px rgba(0, 0, 0, 0.13);
    display: flex;
    flex-direction: column;
    /* justify-content: center active so no need to especify margin margin top to the icons */
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .fifthMobileCard > h3 {
    color: #1e1e1e;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
  }

  .fifthMobileCard > p {
    width: 300px;
    /* height: 216px; */
    text-align: center;
    flex-shrink: 0;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-top: 25px;
  }

  .fifthMobileCardIconOne {
    width: 60px;
    height: 60px;
    /* margin-top: 59px; */
    margin-bottom: 40px;
  }

  .fifthMobileCardIconTwo {
    width: 60px;
    height: 71px;
    /* margin-top: 53px; */
    margin-bottom: 35px;
  }

  .fifthMobileCardIconThree {
    width: 60px;
    height: 58px;
    /* margin-top: 61px; */
    margin-bottom: 40px;
  }

  /* SIXTH SECTION*/

  .sixthTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileSixthTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 1770px; /* it was not especified, I set by summing the boxes height and margins */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sixthMobileContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0px 22px 126px 21px;
    text-align: center;
  }

  /* in the design on Figma it seems to have space between the title lines */
  .sixthMobileContent > h2 {
    width: 350px;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }

  .sixthMobileContent > p {
    width: 350px;
    /* height: 246px; */
    flex-shrink: 0;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }
}
