@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.tapjoyVsSmatched .tapjoyVsSmatched * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.tapjoyVsSmatchedContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

/* .firstTapjoyVsSmatchedContainer {
    background: url(/public/heroBackground.svg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 1026px;
  } */

.mobileFirstTapjoyVsSmatchedContainer {
  display: none;
}

/* .containerToMatchDesign {
    width: 1512px;
    display: flex;
    justify-content: center;
  } */

/*SECOND SECTION*/

/* .secondTapjoyVsSmatchedContainer {
    width: 100%;
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobileSecondTapjoyVsSmatchedContainer {
    display: none;
  } */

/*THIRD SECTION*/

/* .thirdTapjoyVsSmatchedContainer {
    background-color: #1e1e1e;
    min-height: 1010px;
    display: flex;
  }
  
  .mobileThirdTapjoyVsSmatchedContainer {
    display: none;
  } */

/*FOURTH SECTION*/

/* .fourthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileFourthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*FIFTH SECTION*/

/* .fifthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileFifthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*SIXTH SECTION*/

/* .sixthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileSixthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  .tapjoyVsSmatchedContainer {
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* FIRST MOBILE SECTION */

  .firstTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileFirstTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 966px; /* 1010px -44 Smartphne statusBar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstMobileTopImage {
    margin-top: 137px ;
  }

  .firstMobileBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 9px 22px 76px 21px;
  }

  .firstMobileBottom > h1 {
    width: 354px;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .firstMobileBottom > p {
    width: 354px;
    height: 157px;
    overflow: hidden;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  /* SECOND MOBILE SECTION*/

  /* .secondTapjoyVsSmatchedContainer {
      display: none;
    }
  
    .mobileSecondTapjoyVsSmatchedContainer {
      background-color: #f0f0f0;
      display: flex;
      width: 100%;
      height: 969px;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } */

  /* THIRD SECTION*/

  /* .thirdTapjoyVsSmatchedContainer {
      display: none;
    }
  
    .mobileThirdTapjoyVsSmatchedContainer {
      background-color: #1e1e1e;
      width: 100%;
      min-height: 852px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }  
   */
  /* FOURTH SECTION*/

  /* .fourthTapjoyVsSmatchedContainer {
      display: none;
    }
  
    .mobileFourthTapjoyVsSmatchedContainer {
      background-color: #f0f0f0;
      width: 100%;
      min-height: 858px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }     */

  /* FIFTH SECTION*/
  /*   
    .fifthTapjoyVsSmatchedContainer {
        display: none;
      }
    
      .mobileFifthTapjoyVsSmatchedContainer {
        background-color: #f0f0f0;
        width: 100%;
        min-height: 858px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }    */

  /* SIXTH SECTION*/

  /* .sixthTapjoyVsSmatchedContainer {
        display: none;
      }
    
      .mobileSixthTapjoyVsSmatchedContainer {
        background-color: #f0f0f0;
        width: 100%;
        min-height: 858px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }      */
}
