@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.tapjoyVsSmatched .tapjoyVsSmatched * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.tapjoyVsSmatchedContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

/* .firstTapjoyVsSmatchedContainer {
    background: url(/public/heroBackground.svg) no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 1026px;
  } */

.mobileFirstTapjoyVsSmatchedContainer {
  display: none;
}

/* .containerToMatchDesign {
    width: 1512px;
    display: flex;
    justify-content: center;
  } */

/*SECOND SECTION*/

/* .secondTapjoyVsSmatchedContainer {
    width: 100%;
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .mobileSecondTapjoyVsSmatchedContainer {
    display: none;
  } */

/*THIRD SECTION*/

/* .thirdTapjoyVsSmatchedContainer {
    background-color: #1e1e1e;
    min-height: 1010px;
    display: flex;
  }
  
  .mobileThirdTapjoyVsSmatchedContainer {
    display: none;
  } */

/*FOURTH SECTION*/

/* .fourthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileFourthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*FIFTH SECTION*/

/* .fifthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileFifthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*SIXTH SECTION*/

/* .sixthTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 1010px;
    display: flex;
    justify-content: center;
  }
  
  .mobileSixthTapjoyVsSmatchedContainer {
    display: none;
  } */

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  .tapjoyVsSmatchedContainer {
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* FIRST MOBILE SECTION */

  .firstTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileFirstTapjoyVsSmatchedContainer {
    background-color: #f0f0f0;
    min-height: 966px; /* 1010px -44 Smartphne statusBar */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstMobileTopImage {
    margin-top: 137px;
  }

  .firstMobileBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 9px 22px 76px 21px;
  }

  .firstMobileBottom > h1 {
    width: 354px;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .firstMobileBottom > p {
    width: 354px;
    height: 157px;
    overflow: hidden;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    text-overflow: ellipsis;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  /* SECOND MOBILE SECTION*/

  .secondTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileSecondTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 966px; /* it is not especified, so I kept the same as the first section */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondMobileBottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin: 21px 22px 76px 21px;
  }

  .secondMobileBottom > h2 {
    width: 350px;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .secondMobileBottom > p {
    width: 350px;
    /* height: 249px; */
    flex-shrink: 0;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 23.8px */
  }
  /* THIRD SECTION*/

  .thirdTapjoyVsSmatchedContainer {
    display: none;
  }

  .mobileThirdTapjoyVsSmatchedContainer {
    background-color: #fdfdff;
    min-height: 1150px; /* it was not especified, I set by summing the boxes heigth and margins*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .thirdMobileCardGreen,
  .thirdMobileCardRed {
    width: 350px;
    height: 525px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    gap: 24px;
    /* padding: 40px 37px; it is from the design, but it doesn't fit here */ 
    margin: 0px 22px 35px 21px;
    background: #fff;
  }

  .thirdMobileCardGreen {
    box-shadow: 0px 0px 29px 0px rgba(110, 217, 140, 0.25);
  }

  .thirdMobileCardRed {
    box-shadow: 0px 0px 29px 0px rgba(248, 90, 90, 0.25);
  }

  .thirdMobileTitle {
    color: #1e1e1e;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  .thirdMobileSpanGreen {
    color: #6ed98c;
  }

  .thirdMobileSpanRed {
    color: #f85a5a;
  }

  .thirdMobileList {
    width: 300px;
    height: 300px;
    /* flex-shrink: 0; */
  }

  .thirdMobileListItem {
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
    margin-right: 18px;
  }

  .thirdMobileSpanBold {
    font-family: gotham-medium;
    font-weight: 500;
  }

  /* FOURTH SECTION*/

  /* .fourthTapjoyVsSmatchedContainer {
      display: none;
    }
  
    .mobileFourthTapjoyVsSmatchedContainer {
      background-color: #f0f0f0;
      width: 100%;
      min-height: 858px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
    }     */

  /* FIFTH SECTION*/
  /*   
    .fifthTapjoyVsSmatchedContainer {
        display: none;
      }
    
      .mobileFifthTapjoyVsSmatchedContainer {
        background-color: #f0f0f0;
        width: 100%;
        min-height: 858px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }    */

  /* SIXTH SECTION*/

  /* .sixthTapjoyVsSmatchedContainer {
        display: none;
      }
    
      .mobileSixthTapjoyVsSmatchedContainer {
        background-color: #f0f0f0;
        width: 100%;
        min-height: 858px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
      }      */
}
