.articleCard {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 2.682px 12.739px 0px rgba(0, 0, 0, 0.15);
  line-height: 24px;
}

.cardImage {
  flex-shrink: 1;
  min-width: 30%;
  /* width: inherit; */
  height: 354px;
}

.cardImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.articleContent {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px 20px;
}

.article {
  display: flex;
  flex-direction: column;
}

.articleTitle {
  font-size: 20px;
  font-family: Gotham-medium;
  padding-bottom: 20px;
}

.info_wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.span_dot {
  display: flex;
  gap: 10px;
}

.articlesInfo {
  display: flex;
  gap: 25px;
}

/* Delete after solve the issue related to Link X Button component */
/* .btnReadMore {
  background-color: #a18129;
  color: white;
  padding: 16px 43px;
  max-width: 210px;
  margin: 0 auto;
  cursor: pointer;
  font-family: gotham-medium;
  font-weight: 500;
  text-align: center;
} */

/* Desktop ArticleCard style */
@media only screen and (min-width: 769px) {
  .articleCard {
    flex-direction: row-reverse;
    box-shadow: 0px 2.682px 12.739px 0px rgba(0, 0, 0, 0.15);
    max-height: 529px;
  }

  .articleTitle {
    display: block;
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
  }

  .articleContent {
    padding: 70px;
  }

  .cardImage {
    background-color: blueviolet;
    flex-shrink: 0;
    flex-basis: calc(50% - 70px);
    height: initial;
  }

  /* Delete after solve the issue related to Link X Button component */
  /* .btnReadMore {
    margin: unset;
  } */
}
