.howitworks,
.howitworks * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.howitworksContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstHowContainer {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  overflow: visible;
  display: inline-block;
  margin: auto;
}

.mobileFirstHowContainer {
  display: none;
}

.gradientContainer1 {
  width: 100%;
  max-width: 1530px;
  position: absolute;
}

.gradientContainerLeft1 {
  z-index: 3;
  position: absolute;
  width: 70%;
  float: right;
  margin-left: 33%;
}

.topFirst1 {
  background: url(/public/images/backgroundImgs/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 950px;
}

.topFirstBg1 {
  width: 100vw;
  max-width: 1530px;
  display: flex;
  justify-content: center;
  background-size: contain;
}

.mobileTopFirstBg1 {
  display: none;
}

.mainFirst1 {
  width: 1110px;
  display: flex;
  margin-top: 100px;
}

.rightMain1 {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text1 {
  color: var(--White, #fff);
  font-family: gotham-book;
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 87px;
  z-index: 5;
}

.text21 {
  color: var(--White, #fff);
  font-family: gotham-light;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 87px;
  z-index: 5;
}

.parag1 {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.innerParag1 {
  color: #fff;
  width: 80%;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30.6px;
}

.bottomHero1 {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

.leftMain {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 5;
}

.leftImgInfo {
  width: 150%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  margin-right: 100px;
}

.leftImg {
  width: 1000px;
  height: 875px;
  transition: all 2s ease;
}

/*SECOND SECTION*/

.secondHowContainer {
  width: 100%;
  background-color: #f0f0f0;
  min-height: 784px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mobileSecondHowContainer {
  display: none;
}

.secondHowContainerBox1 {
  display: flex;
  position: relative;
  z-index: 2;
  margin-top: 150px;
  margin-bottom: 150px;
}

.secondLeft {
  max-width: 711px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

.secondRight {
  max-width: 562px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 0px;
}

.imageSec2Bow {
  margin-top: 100px;
  max-width: 610px;
}

.secondHowContainerBox2 {
  margin-top: -40px;
  display: flex;
  justify-content: center;
  gap: 50px;
  max-width: 1280px;
}

.secondHowContainerBox2Content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
}

.imageSec2 {
  width: 70px;
  height: 70px;
  z-index: 5;
  align-self: flex-start;
}

.textImgSec2 {
  color: #1e1e1e;
  text-align: left;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
}

/*THIRD SECTION*/
.thirdHowContainer3 {
  width: 100%;
  background-color: #202020;
  min-height: 1010px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.thirdHowContainer3mobile {
  display: none;
}

.thirdHowContainerBox13 {
  width: 1273px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.thirdContainerBox23 {
  width: 1273px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.thirdLeft3 {
  max-width: 711px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 38px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin: 0px;
}

.thirdRight3 {
  max-width: 562px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin: 0px;
}

.imageSec2Bow3 {
  max-width: 610px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*FOURTH SECTION*/

.fourthHowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1060px;
}

.fourthHowContainer3mobile {
  display: none;
}

.fourthHowContainerBox {
  height: 800px;
  background: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
}

.fourthSectionLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 400px;
}

.innerFourthSectionLeft {
  height: 650px;
  width: 548px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.innerFourthFreeResources {
  height: 192px;
  color: #000000;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-weight: 500;
  line-height: 120%;
}

.textFourth {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--White, #000000);
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 63px;
  z-index: 5;
  letter-spacing: -4.5%;
}

.innerFourthText {
  width: 548px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spanText {
  color: #000000;
  font-family: gotham-book;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10px;
}

.fourthSectionRight {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: -380px;
}

.fourthSectionRight > img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding-bottom: 0px;
}

/* FIFTH section */

.fifthHowContainer {
  width: 100%;
  background-color: #28878f;
  min-height: 591px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fifthHowContainer3mobile {
  display: none;
}

.fifthHowContainerBox {
  width: 1273px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.fifthContainerBox {
  width: 1273px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 2;
  margin-top: 150px;
}
.fifthLeft {
  max-width: 760px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  margin-bottom: 100px;
  margin-top: 130px;
}

.fifthRight {
  max-width: 760px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
  margin: 0px;
}

/*sixth SECTION*/

.sixthHowContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1010px;
  background: #1e1e1e;
}

.sixthHowContainer3mobile {
  display: none;
}

.sixthHowContainerBox {
  background: #1e1e1e;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 0px;
}

.sixthSectionLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 200px;
}

.innerSixthSectionLeft {
  height: 650px;
  width: 548px;
  display: flex;
  flex-direction: column;
  gap: 100px;
}

.innerSixthTitle {
  height: 192px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-weight: 500;
  line-height: 120%;
}

.innerSixthText {
  width: 548px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.spanText6 {
  color: #ffffff;
  font-family: gotham-book;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  padding-left: 10px;
}

.sixthSectionRight6 {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
  margin-right: 0px;
}

.sixthSectionRight6 > img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
  padding-bottom: 0px;
  padding-right: 0px;
}

/* seventh section */

.seventhHowContainer {
  position: relative;
  z-index: 2;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seventhHowBackground {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 0;
  z-index: 4;
}

.seventhHowLeft {
  width: 50%;
  height: auto;
  display: flex;
  justify-content: flex-start;
}
.seventhHowLeft > img {
  width: 100%;
  height: auto;
  flex-shrink: 5;
  padding-bottom: 0px;
  padding-right: 0px;
}

.seventhHowRight {
  width: 50%;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 200px;
}

.innerSeventhHowRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 300px;
  margin-bottom: 170px;
}

.seventhHowRightModel {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 63.6px */
  margin-bottom: 50px;
}

@font-face {
  font-family: Gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

.increase {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Gotham-light;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 200% */
  width: 70%;
}

@font-face {
  font-family: Gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

.smatchIncreaseOnline {
  width: 120%;
  display: flex;
  justify-content: space-between;
}

.seventhHowContainer3mobile {
  display: none;
}

/* eighth section */

.tableRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  height: 60px;
  border-bottom: 1px solid #fff;
  cursor: pointer;
  width: 100%;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out;
  background-color: #1e1e1e;
}

.rowContent {
  color: white;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 20px;
}

.arrowButton {
  width: 17px;
  height: 17px;
  background-color: transparent;
  border: 1px;
  color: #fff;
  font-size: 30px;
}

.active {
  background-color: #1e1e1e;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.additionalContent {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  padding: 10px;
  background-color: #1e1e1e;
}

.additionalContent ul {
  padding-left: 20px;
  background-color: #1e1e1e;
}

.additionalContent li {
  font-family: 'Gotham', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

--------------- .secondLeft358 {
  max-width: 760px;
  color: #ffffff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
  margin-bottom: 30px;
  margin-top: -30px;
}

.eighthHowContainer {
  background-color: white;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.eighthHowContainerMobile {
  display: none;
}

.eighthHowBackground {
  position: relative;
  width: 100%;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
  z-index: 5;
}

.bottomBG {
  position: relative;
  margin-top: -160px;
  z-index: -5;
}

.mobileEighthHomeContainer {
  display: none;
}

.innerEighthHowContainer1 {
  width: 1365px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #1e1e1e;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  margin-bottom: 160px;
}

.innerEighthLeft {
  width: 1%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.innerEighthRight {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.innerEighthMainBox1 {
  width: 555px;
  height: 100px;
  margin-top: 100px;
}

.innerEighthBox1,
.highest {
  color: var(--White, #fff);
  font-family: gotham-light, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 100%;
  display: flex;
}

.engagement {
  color: var(--White, #e0ff22);
  font-family: gotham-light, sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  width: 50%;
}

.innerEighthMainBox2 {
  max-width: 1200px;
  color: var(--White, #fff);
  font-family: gotham-light;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin-top: 50px;
  margin-bottom: 60px;
  position: relative;
  left: 35%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tableRow.active {
  background-color: #1e1e1e;
}
.secondLeft358.active {
  color: #a18129;
}
.fifthHomeContainer.active {
  background-color: #1e1e1e;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.innerFifthHomeContainer1.active {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) {
  .newsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin-top: -150px;
  }

  .waves {
    display: none;
  }

  /*FIRST MOBILE SECTION*/

  .firstHowContainer {
    display: none;
  }

  .mobileFirstHowContainer {
    background-color: white;
    display: flex;
    width: 100%;
    height: 1100px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topFirst1 {
    background: none;
  }

  .topFirstBg1 {
    display: none;
  }

  .mobileTopFirstBg1 {
    display: flex;
    height: 1500px;
    width: 100vw;
    background-repeat: no-repeat;
    justify-content: center;
  }

  .mainFirstMobile1 {
    display: flex;
    width: 352px;
    height: 1305px;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
  }

  .rightMainMobile1 {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 60px;
    margin-right: 30px;
  }

  .textMobile1 {
    color: var(--White, #000000);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
    /* 72.325px */
    z-index: 5;
  }

  .text2Mobile1 {
    color: var(--White, #000000);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
    /* 72.325px */
    z-index: 5;
  }

  .paragMobile1 {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .innerParagMobile1 {
    width: 352px;
    color: var(--White, #000000);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 157.143% */
  }

  .leftMainMobile1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .leftImgInfoMobile1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
  }

  .leftImgMobile1 {
    width: 500px;
    height: 360px;
    transition: all 2s ease;
  }

  /*SECOND MOBILE SECTION*/

  .secondHowContainer {
    display: none;
  }

  .mobileSecondHowContainer {
    background-color: white;
    display: flex;
    width: 100%;
    height: 969px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .secondHowContainerBox1Mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 60px;
  }

  .secondLeftMobile {
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
    margin: 0;
  }

  .secondRightMobile {
    width: 89%;
    color: #07090a;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }

  .secondHowContainerBox2Mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
  }

  .secondHowContainerBox2ContentMobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 36px;
    width: 350px;
    height: 214px;
    box-sizing: border-box;
  }

  .imageSec2Mobile {
    width: 70px;
    height: 70px;
    z-index: 5;
  }

  .textImgSec2Mobile {
    color: #1e1e1e;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    margin-top: 20px;
  }

  .imageSec2BowMobile {
    margin: -133px 0 -26px 30px;
    width: 86px;
  }

  /* Third MOBILE SECTION */
  .thirdHowContainer3mobile {
    width: 100%;
    background-color: #202020;
    min-height: 821px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .thirdHowContainer3 {
    display: none;
  }

  .thirdHowContainerBox13mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .thirdHowBox23mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 0px;
  }
  .thirdLeft3mobile {
    max-width: 711px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .thirdRight3mobile {
    max-width: 562px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0px;
  }

  .imageSec2Bow3mobile {
    margin-top: 0px;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageSec2Bow3mobile img {
    width: 414px;
    height: 398px;
    object-fit: cover;
  }

  /* Fourth MOBILE SECTION */

  .fourthHowContainer3mobile {
    width: 100%;
    background-color: #ffffff;
    min-height: 821px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fourthHowContainer {
    display: none;
  }

  .fourthHowContainerBox13mobile4 {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .fourthContainerBox23mobile4 {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 0px;
  }
  .fourthLeft3mobile4 {
    max-width: 711px;
    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .fourthRight3mobile4 {
    max-width: 562px;
    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0px;
  }

  .imageSec2Bow3mobile4 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageSec2Bow3mobile4 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .fourthSectionLeftmobile {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .fourthLeft34mobile {
    display: flex;
    justify-content: center;

    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }
  .innerFourthSectionLeftmobile {
    width: 548px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .innerFourthTitlemobile {
    display: flex;
    justify-content: center;
    height: 192px;
    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }

  .text44mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--White, #000000);
    font-family: gotham-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 63px;
    z-index: 5;
    letter-spacing: -4.5%;
  }

  .innerFourthTextmobile {
    width: 400px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -100px;
    margin-bottom: 60px;
  }

  .spanTextmobile {
    color: #000000;
    font-family: gotham-book;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 24px;
  }

  /* FIFTH mobile section  */
  .fifthHowContainer3mobile {
    width: 100%;
    background-color: #28878f;
    min-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fifthHowContainer {
    display: none;
  }

  .fifthHowContainerBox13mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 35px;
  }

  .fifthContainerBox23mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-bottom: 0px;
  }
  .fifthLeft3mobile {
    max-width: 342px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    margin-bottom: 100px;
    margin-top: 100px;
  }

  .fifthRight3mobile {
    max-width: 342px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    margin-top: -100px;
  }

  /* sixth section */
  .sixthHowContainer3mobile {
    width: 100%;
    background-color: #1e1e1e;
    min-height: 821px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .sixthHowContainer {
    display: none;
  }

  .sixthHowContainerBox13mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .sixthContainerBox23mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 0px;
  }
  .sixthLeft3mobile {
    max-width: 711px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
  }

  .sixthRight3mobile {
    max-width: 562px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
    margin: 0px;
  }

  .imageSec2Bow3mobile46 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageSec2Bow3mobile46 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .sixthSectionLeftmobile {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  .sixthLeft34mobile {
    display: flex;
    justify-content: center;

    color: #000000;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 120%;
  }
  .innerSixthSectionLeftmobile6 {
    width: 548px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .innerSixthTitlemobile {
    display: flex;
    justify-content: center;
    height: 192px;
    color: #ffffff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  .innerSisxthTextmobile {
    width: 400px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -100px;
    margin-bottom: 60px;
  }

  .spanTextmobile6 {
    color: #ffffff;
    font-family: gotham-book;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 10px;
    margin-top: 24px;
  }

  /* seventh section */

  .seventhHowContainer3mobile {
    width: 100%;
    background-color: #ffffff;
    min-height: 821px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .seventhHowContainer {
    display: none;
  }

  .seventhHowContainerBox13mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 60px;
    margin-bottom: 35px;
  }

  .seventhContainerBox23mobile {
    width: 1273px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    margin-top: 0px;
  }

  .imageSec2Bow3mobile467 {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .imageSec2Bow3mobile467 img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  .seventhSectionLeftmobile {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }

  .innerSeventhSectionLeftmobile {
    width: 548px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .innerSeventhTitlemobile {
    display: flex;
    justify-content: center;
    height: 192px;
    color: black;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
  }

  .innerSeventhTextmobile {
    width: 400px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-top: -280px;
    margin-bottom: 60px;
  }

  .spanTextmobile67 {
    color: black;
    font-family: gotham-light;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 0px;
    margin-top: 24px;
  }

  /* eighth section */

  .eighthHowContainer {
    display: none;
  }

  .tableRowMobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 60px;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    transition: background-color 0.3s ease-in-out;
    background-color: #1e1e1e;
  }

  .rowContentMobile {
    color: white;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    padding-top: 20px;
  }

  .arrowButtonMobile {
    width: 17px;
    height: 17px;
    background-color: transparent;
    border: 1px;
    color: #fff;
    font-size: 30px;
  }

  .activeMobile {
    background-color: #1e1e1e;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  .additionalContentMobile {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    padding: 10px;
    background-color: #1e1e1e;
  }

  .additionalContentMobile ul {
    padding-left: 20px;
    background-color: #1e1e1e;
  }

  .additionalContentMobile li {
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
  }

  --------------- .h3.secondLeft358Mobile {
    max-width: 760px;
    color: #761414;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: -30px;
  }

  .eighthHowContainerMobile {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .eighthHowBackgroundMobile {
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -150px;
  }

  .bottomBGMobile {
    position: relative;
    margin-top: -160px;
    z-index: -5;
  }

  .mobileEighthHomeContainerMobile {
    display: none;
  }

  .innerEighthHowContainer1Mobile {
    width: 430px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: #1e1e1e;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
  }

  .innerEighthLeftMobile {
    width: 1%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .innerEighthRightMobile {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .innerEighthMainBox1Mobile {
    width: 555px;
    height: 100px;
    margin-top: 100px;
  }

  .innerEighthBox1Mobile,
  .highestMobile {
    color: var(--White, #fff);
    font-family: gotham-light, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    display: flex;
  }

  .engagementMobile {
    color: var(--White, #e0ff22);
    font-family: gotham-light, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
  }

  .innerEighthMainBox2Mobile {
    min-width: 333px;
    color: var(--White, #fff);
    font-family: gotham-light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-top: 50px;
    margin-bottom: 60px;
    position: relative;
    left: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  .tableRowMobile.active {
    background-color: #1e1e1e;
  }
  .secondLeft358Mobile.active {
    color: #a18129;
  }
  .fifthHomeContainerMobile.active {
    background-color: #1e1e1e;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }

  .innerFifthHomeContainer1Mobile.active {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
  }
}
