
.home,
.home * {
  box-sizing: border-box;
  
}
h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.homeContainer {
    width: 100vw;
    max-width: 1530px;
    margin: auto;
    margin-top: -120px;
    
}

/*FIRST SECTION*/

.firstHomeContainer {
    background: url(/public/heroBackground.svg) no-repeat;
    background-size: cover;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    overflow: visible;
    display: inline-block;
    margin: auto;
}

.mobileFirstHomeContainer {
    display: none;
}


.gradientContainer{
    width: 100%;
    max-width: 1530px;
    position: absolute;
}



.gradientContainerLeft{
    /* background-color: rgba(76, 175, 80, 0.4); */
    z-index: 3;
    position: absolute;
    width: 70%;
    float: right;
    margin-left: 33%;

}


.topFirst {
    width: 100%;
}

.topFirstBg {
    width: 100vw;
    max-width: 1530px;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.mobileTopFirstBg {
    display: none;
}

.mainFirst {
    width: 1110px;
    display: flex;
}

.rightMain {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 100px;
}

.text {
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 131.5%; /* 72.325px */
    z-index: 5;
}

.M {
    color: var(--White, #E0FF22);
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 131.5%; /* 72.325px */
    z-index: 5;

}

.parag {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.innerParag {
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

}

.buttonText {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    z-index: 5;
    margin-bottom: 100px;
}

.buttonText1, .buttonText2{
    border: 1px solid #FFF;
    width: 220px;
    height: 46px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: var(--Modal-grey-1, #000000);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    z-index: 5;
}

.buttonText2 {
    width: 320px;

}

.bottomHero {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 5;
}

@font-face{
    font-family: gotham-light;
    src: url('/public/fonts/Gotham/Gotham-Light.otf');
 }

.bottomHero h2 {
    width: 82%;
    height: 104px;
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: flex-end;
}

.bottomHero1 {
    width: 156.035px;
    height: 34px;
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px; /* 60% */
    letter-spacing: -2.25px;
}



.bottomHero2{
    display: flex;
    width: 167.873px;
    height: 42px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    color: #FFF;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-light;
    font-size: 50px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 48% */
    letter-spacing: -2.25px;
}

.downClickImg {
    width: 99.5%;
    height: 190px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    z-index: 5;
}

.downClickImg > img {
    width: 144px;
    height: 144px;
}

/*.scrollDivider {*/
/*    position: absolute;*/
/*}*/

.leftMain {
    width: 50%;
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;


}

.leftImgInfo {
    width: 70%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.leftImg {
    width: 600px;
    height: 600px;
    transition: all 2s ease;
    margin-top: 70px;
}
/*
.leftImg:hover {
    overflow: hidden;
    transform:  scale(1.05);
    transition: all 2s ease-in-out;
}
*/
.belowFirst {
    width: 100%;
    height: 310px;
    display: flex;
    max-width: 1530px;
    margin: auto;
    z-index: 10;
    position: relative;
}

.innerBelowFirst1 {
    width: 50%;
    height: inherit;
    background: #1F1F1F;
    display: flex;
    align-items:  center;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(33,33,33,1) 0%, rgba(65,61,142,1)) 1;
    border-top: 0;
    border-left: 0;
    border-bottom: 0;
}

.innerBelowBox1 {
    width: 92%;
    height: 230px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.percentage, .blog {
    color: #E0FF22;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 80px;
    font-style: normal;
    font-weight: 600;
    line-height: 100px;
    width: 70%;
    height: 90px;
}

.retention {
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: 70%;
    text-align: center;
}

.study, .explore {
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 120px;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;

}


.innerBelowFirst2 {
    width: 50%;
    height: inherit;
    display: flex;
    align-items:  center;
    justify-content: flex-end;
    background: #1F1F1F;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to bottom, rgba(33,33,33,1) 0%, rgba(65,61,142,1)) 1;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
}

.innerBelowBox2 {
    width: 94%;
    height: 230px;
}


.blog {
    font-size: 55px;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.explore {
    height: 80px;
    width: 68%;
    display: flex;
    align-items: flex-start;
}

.readMore {
    height: 60px;
    width: 68%;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    width: 192px;
    height: 45px;
    color: var(--White, #FFF);
    text-align: center;
    background: #1F1F1F;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    border-radius: 4px;
    border: 1px solid var(--White, #FFF);
    text-align: center;
}

button:hover {
    background: #E0FF22;
    color: #130E5B;
    border: none;
}

/*SECOND SECTION*/

.secondHomeContainer {
    width: 100%;
    height: 850px;
    display: flex;
    flex-direction: row;
}

.mobileSecondHomeContainer{
    display: none;
}

.secondHomeContainerBox1,  .secondHomeContainerBox2 {
    width: 60%;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 2;
}


.whatOffer {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.what {
    width: 78%;
    height: 85px;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.offerW {
    width: 78%;
    height: 70px;
    color: #8764E3;
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.anOfferwall {
    width: 92%;
    display: flex;
    justify-content: flex-end;
}

.innerAnOfferwall {
    width: 76%;
}

.anOfferwallParag {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 457px;
    text-align: start;
}

.secondHomeContainerBox2 {
    height: 800px;
    display: flex;
    justify-content: center;
    width: 50%;
    position: absolute;
    right: 13px;
    z-index: 1;
}

.image1 {
    width: 780px;
    height: 750px;
    flex-shrink: 0;
    position: relative;
}

.image2 {
    width: 780px;
    height: 755px;
    flex-shrink: 0;
    transition: all 1s ease;
    position: absolute;
}

.image2:hover {
    overflow: hidden;
    transform:  scale(1.1);

}


/*THIRD SECTION*/

.thirdHomeContainer {
    width: 100%;
    height: 750px;
}

.mobileThirdHomeContainer {
    display: none;
}

.imageThirdHomeContainer {
    height: 980px;
    width: 100vw;
    max-width: 1530px;
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdHomeContainerBox {
    width: 750px;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;


}

.mobileProblem {
    width: 74%;
    height: 250px;
    display: flex;
    flex-direction: column;
}

.innerMobileProblem {
    display: flex;
    width: 585px;
}

.mobileProblem1,
.with {
    color: #E0FF22;
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

.with {
    color: var(--White, #FFF);
}

.mobileProblem2 {
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.gameDeveloper {
    width: 74%;
    height: 180px;
    display: flex;
    align-items: flex-end;
}

.gameDeveloper1 {
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    width: 474px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    height: 110px;
}


/*FOURTH SECTION*/

.fourthHomeContainer {
    width: 100%;
    height: 1400px;
    display: flex;
    justify-content: center;
}

.mobileFourthHomeContainer {
    display: none;
}

.SubFourthHomeContainer {
    width: 100%;
    height: 1350px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.fourthHomeBox1 {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.innerFourthHomeBox1 {
    color: var(--Primary-Black-1, #8764E3);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
}

.fourthHomeBox2 {
    height: 670px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
 }

.fourthBox2Container {
    width: 74%;
    height: 580px;
    display: flex;
}

.fourth13, .fourth24 {
    width: 30%;
    height: 560px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;

}

.fourth13One, .fourth13Two, .fourth24One, .fourth24Two{
    width: 96%;
    height: 230px;
    display: flex;
    align-items: flex-end;
}

.innerOne {
    width: 100%;
    height: 100px;
}

.fourth13Integration {
    padding-top: 10px;
    width: 297px;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    display: flex;
    flex-direction: column;
}

.likeSmatchedWork {
    display: flex;
}

.fourth13Smatched {
    color: var(--Primary-Blue-1, #2A2AFF);
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
}

.fourth13Two {
    align-items: flex-start;
}

.fourthImg {
    width: 500px;
    height: 546px;
    display: flex;
}


.fourthImg1 {
    width: 490px;
    height: 580px;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    top: 13px;
}

.fourthImg2 {
    width: 490px;
    height: 610px;
    flex-shrink: 0;
    transition: 1.5s ease;
    position: absolute;
    z-index: 2;

}

.fourthImg2:hover {
    transform:  scale(1.2);

}


.fourth24 {
    width: 32%;
    height: 560px;
}


.innerTwo {
    width: 100%;
    height: 100px;
}

.fourth24Two {
    justify-content: flex-start;
    align-items: flex-start;
}

.fourthHomeBox3 {
    height: 230px;
    width: 100%;
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}


.innerFourthHomeBox3 {
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*FIFTH SECTION*/

.fifthHomeContainer {
    width: 100%;
    height: 968px;
    display: inline-block;
}

.fifthHomeBackground {
    width: 100vw; 
    max-width: 1530px; 
    height: 968px; 
    display: flex; 
    justify-content: flex-end; 
    align-items: flex-end;
    background-image: url( ../../../public/rect01.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size:cover;
}

.mobileFifthHomeContainer {
    display: none;
}

.innerFifthHomeContainer1 {
    width: 47%;
    height: 820px;
    display: flex;
    flex-direction: column;

}

.innerFifthMainBox1 {
    width: 555px;
    height: 240px;

}

.innerFifthBox1, .highest {
    color: var(--White, #FFF);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 100%;
    display: flex;

}

.innerFifthMainBox2 {
    width: 555px;
    height: 200px;
}

.engagement {
    color: var(--White, #E0FF22);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 50%;
}

.innerFifthMainBox2 {
    color: var(--White, #FFF);
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 555px;
    height: 280px;
}

.appPurchase {
    width: 85%;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noInAppPurchase {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.appPerc {
    width: 176px;
    color: #E0FF22;
    text-align: center;
    font-family: Poppins;
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -2.4px;
    height: 88px;
    flex-shrink: 0;
}

.makeInApp {
    color: #BCBCBC;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.45px;
    width: 137px;
}

.onlyMakeOnePurchase {
    width: 50%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


/*SIXTH SECTION*/

.sixthHomeContainer {
    width: 100%;
    height: 840px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sixthBox1 {
    width: 100%;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.offerwallSolves, .problems {
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
}

.solves {
    color: #8764E3;
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sixthBox2 {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;

}
.innerSixthBox2 {
    display: flex;
    justify-content: space-between;
    width: 50%;
    height: 500px;

}


.willingUsers {
    width: 48.2%;
    height: inherit;
    border-radius: 10px;
    background: #9AD3CC;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hateUsers {
    border-radius: 10px;
    background: #5C59C0;
    width: 49.2%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dollar, .megaphone {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 20px;
}

.pay, .ads {
    width: 75%;
    height: 230px;
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-top: 20px;

}

.ads {
    color: #FFFF;
}


/*SEVENTH SECTION*/

.seventhHomeContainer {
    width: 100%;
    z-index: 1;
}

.seventhMobileHomeContainer{
    display: none;
}

.innerSeventhHomeContainer {

    width: 80%;
}

.seventhHomeBox1 {
    width: 80%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.implementingSoln {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}

.implementing {
    color: var(--Primary-Black-1, #8764E3);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.an {
    padding-top: 13px;
}

.avenue {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.priceEngage {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.engage, .users {
    color: var(--Primary-Black-1, #8764E3);
}

.usersDecrease {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.seventhHomeBox2 {
    width: 74%;
    height: 1300px;
    display: flex;
    align-items: flex-end;
    background-color: #F7F8FC;
    justify-content: center;
}

.innerSeventhBoxContainer {
    width: 100%;
    height: 950px;
}

.innerSeven1 {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.innerSevenBlog {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.65px;
}

.innerSevenArticles {
    color: var(--Primary-Blue-1, #2A2AFF);
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.innerSeven2 {
    width: 100%;
    height: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sevenRight {
    width: 54%;
    height: 660px;
    border-radius: 10px 10px 0px 0px;
}

.topRightSeven {
    width: 100%;
    height: 285px;
    border-radius: 10px 10px 0 0;
}

.topRightSeven > img {
    width: 100%;
    height: 330px;
}

.belowRightSeven {
    width: 100%;
    height: 500px;
    border-radius: 0 0 10px 10px;
    background: #9AD3CC;
    margin: auto;
}

.innerBelowRightSeven {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
}

.exploring {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    height: 180px;
    width: 480px;
}

.dateTime {
    width: 480px;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.imgTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;

}

.imgTime > img {
    width: 24px;
    height: 24px;
}

.minRead {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.readMoreExplore {
    width: 92%;
    height: 125px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.readMoreButton {
    display: flex;
    width: 192px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Primary-Black-1, #1E1E1E);
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.readMoreButton:hover {
    background-color: black;
    color: white;
}



.sevenLeft {
    width: 44%;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topLeftSeven {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    background: #DFDFDE;
}

.topLeftSeven > img {
    width: 100%;
}

.topLeftSevenBox1 {
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mastering{
    width: 382px;
    flex-shrink: 0;
    height: 80px;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
}

.leftDateTime {
    width: 382px;
    flex-shrink: 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.leftImgTime {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29%;

}

.LeftReadMoreExplore {
    width: 85%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.belowLeftSeven {
    width: 100%;
    height: 380px;
    border-radius: 10px;
    background: #E7CAA2;
}

.belowLeftSeven > img {
    width: 100%;
}

.seventhHomeBox3 {
    width: 100%;
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.innerSeventhHome {
    width: 74%;
    height: 720px;
    display: flex;
    justify-content: space-between;
}

.rightSevenBox3 {
    width: 50%;
    height: 550px;
}

.getInTouch {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    height: 120px;
    width: 533px;
}

.inTouch {
    color: var(--Primary-Black-1, #8764E3);
    font-family: Poppins, sans-serif;
    font-size: 52px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.schedule {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 551px;
}

.contactImg {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.contactLayOut {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.contactUs {
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;


}



.leftSevenBox3 {
    width: 50%;
    height: 550px;
    display: flex;
    justify-content: flex-end;

}

.mobile005 {
    width: 80%;
    height: 550px;
}



.footerName {
    display: flex;
    align-items: flex-end;
    background-color: #F7F8FC;;

}
.footerInfo {
    position: absolute;
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: center;
}

.innerFooterInfo {
    width: 74%;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.TopFooterInfo {
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: space-between;
}

.rightFooterInfo {
    width: 100%;
    height: 100px;

}

.imgValuable {
    width: 50%;
    height: 70px;
    display: flex;

}

.footerLogo {
    width: 50px;
    height: 58px;
}

.offerwall {
    width: 220px;
    height: 58px;
    padding-left: 12px;

}

.offerwallBox {
    color: #FFF;
    font: 400 30px/0%  "NordiquePro", sans-serif;
    font-size: 28px;
    font-weight: 700;
    line-height: 30px;
}

.monetization {
    color: #E0FF22;
    font: 400 30px/0% "NordiquePro-Bold", sans-serif;
    font-size: 28px;
    font-style: bold;
    font-weight: 500;
    line-height: 30px;
}

.valuable {
    width: 100%;
    height: 40px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
    color: #FFF;
}

.leftFooterInfo {
    width: 100%;
    height: 160px;
    display: flex;
    align-items: center;

}

.info {
    width: 100%;
    height: 20px;
}

.rightInfo {
    display: flex;
    justify-content: space-between;
    color: var(--Modal-grey-1, #DBDAD7);
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;

}

.leftInfo {
    width: 20%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 5px;
}


.footerDivider {
    width: 100%;
    height: 30px;

}

.footerDivider > hr {
    border: 0.5px solid #DEDEDE
}

.downFooterInfo {
    width: 100%;
    height: 100px;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}





/*MOBILE RESPONSIVENESS*/


@media only screen and (max-width: 1130px) and (min-width: 320px){


    .homeContainer {
        display:flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        height: 11100px;
        position: relative;
        margin-top: -150px;
    }

    .waves {
        display: none;
    }

    /*FIRST MOBILE SECTION*/


    .firstHomeContainer {
        display: none;
    }

   .mobileFirstHomeContainer {
        display: flex;
        width: 100%;
        height: 1500px;
        position: relative;
        flex-direction: column;
        background: linear-gradient(
            180deg,
            rgba(91, 86, 189, 1) 0%,
            rgba(41, 50, 133, 1) 52.08333134651184%,
            rgba(10, 0, 74, 1) 100%
          );
   }

    .hrLine {
        display: none;
    }

    .topFirstBg{
        display: none;
    }

    .mobileTopFirstBg {
        display: flex;
        height: 1500px;
        width: 100%;
        background-repeat: no-repeat ;
        justify-content: center;
    }


    .mainFirstMobile {
        display: flex;
        width: 352px;;
        height: 1305px;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .rightMainMobile {
        width: 352px;
        height: 1150px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 100px;
    }

    .textMobile {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 41px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;

    }

    .M {
        color: var(--White, #E0FF22);
        font-family: Poppins;
        font-size: 41px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .forMonetize {
        display: flex;
    }

    .paragMobile {
        width: 100%;
        height: 90px;
    }

    .innerParagMobile {
        width: 352px;
        height: 95px;
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px; /* 157.143% */
    }

    .buttonTextMobile {
        width: 352px;
        height: 100px;
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 45px;
        gap: 20px;
    }

    .buttonText1Mobile, .buttonText2Mobile{
        width: 220px;
        height: 46px;
        flex-shrink: 0;
        border-radius: 22px;
        border: 1px solid #FFF;
        color: var(--Modal-grey-1, #DBDAD7);
        font-family: Poppins;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonText2Mobile {
        width: 320px;
    }

    .downClickImgMobile {
        width: 99.5%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    .downClickImgMobile > img {
        width: 144px;
        height: 144px;
    }


    /*.scrollDivider {*/
    /*    position: absolute;*/
    /*}*/

    .leftMainMobile {
        width: 100%;
        height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .leftImgInfoMobile {
        display: flex;
        width: 358px;
        height: 450.732px;
        padding: 1.493px 89.345px 12.066px 89.345px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        padding-top: 30px;

    }

    .leftImgMobile {
        width: 270.309px;
        height: 480.174px;
        flex-shrink: 0;
    }


    .belowFirst {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-top: 0;
        margin-bottom: 250px;
    }

    .innerBelowFirst1 {
        width: 100%;
        height: 270px;
        display: flex;
        align-items:  center;
        justify-content: center;
        border-bottom: 1px solid #212121;
    }

    .innerBelowBox1 {
        width: 352px;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;


    }

    .percentage, .blog {
        color: #E0FF22;
        text-align: center;
        font-family: Poppins;
        font-size: 55px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 35px;
        height: 65px;

    }

    .retention {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }

    .study, .explore {
        width: 352px;
        color: var(--White, #FFF);
        text-align: center;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    .innerBelowFirst2 {
        width: 100%;
        height: 270px;
        display: flex;
        align-items:  center;
        justify-content: center;
        border: none;
    }

    .innerBelowBox2 {
        width: 352px;
        height: 270px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .blog {
        color: #E0FF22;
        text-align: center;
        font-family: Poppins;
        font-size: 50px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;

    }

    .explore {
        width: 352px;
        color: var(--White, #FFF);
        text-align: center;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;
    }

    .readMore {
        height: 60px;
        width: 68%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 3px;
    }

    button {
        width: 192px;
        height: 45px;
        color: var(--White, #FFF);
        text-align: center;
        background: #212121;
        font-family: Poppins;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        text-transform: uppercase;
        border-radius: 4px;
        border: 1px solid var(--White, #FFF);
        text-align: center;
    }

    button:hover {
        background: #E0FF22;
        color: #130E5B;
        border: none;
    }

    /*SECOND MOBILE SECTION*/

    .secondHomeContainer{
        display: none;
    }

    .mobileSecondHomeContainer {
        align-items: flex-end;
        display: flex;
        height: 800px;
        width: 393px;
        justify-content: center;
        flex-direction: row;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .innerMobileSection3 {
        height: 700px;
        width: 393px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .mobileWhat {
        width: 393px;
        height: 50px;
        flex-shrink: 0;
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;

    }

    .mobileWofferwall {
        color: #8764E3;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }


    .mobilePImage > img {
        width: 400px;
        height: 400px;
        flex-shrink: 0;
    }

    .mobileInaPPAdd {
        width: 352px;
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    /*THIRD MOBILE SECTION*/

    .thirdHomeContainer {
        display: none;
    }

    .mobileThirdHomeContainer {
        display: flex;
        flex-direction: column;
        height: 850px;
        width: 393px;
        margin: auto;
        margin-top: 0;
        margin-bottom: 0;
    }

    .mobileTh1 {
        width: 393px;
        height: 850px;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    .innerMobileTh1 {
        width: 352px;
        height: 350px;
    }

    .mobileModernProblem {
        width: 352px;
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-align: center;
        margin-bottom: 40px;
    }

    .innerMobileProb {
        color: #E0FF22;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }

    .mobileModern {
        display: flex;
        justify-content: center;
    }

    .mobileGameProblem {
        width: 352px;
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }


    /*FOURTH MOBILE SECTION*/

    .fourthHomeContainer {
        display: none;
    }

    .mobileFourthHomeContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 50px;
    }

    .mobileSubFourthHomeContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    .mobileFourthHomeBox1 {
        display: flex;
        flex-direction: column;
        height: 100px;
        width: 100%;
        align-content: center;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .mobileSubFourthHomeBox1 {
        width: 352px;
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        display: flex;
       justify-content: center;
    }

    .mobileInnerFourthHomeBox1 {
        color: #8764E3;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px;
        text-align: center;

    }

    .mobileFourthHomeBox2 {
        height: 670px;
        width: 100%;
        display: flex;
        flex-direction: column;

    }

    .mobileFourthBox2Container {
        width: 100%;
        height: 670px;
        display: flex;
        flex-direction: column;

    }

    .mobileFourth13,
    .mobileFourth24
    {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;   
        align-items: center;
    }

    .mobileFourth13One, .mobileFourth13Two,
    .mobileFourth24One, .mobileFourth24Two
    {
        align-items: flex-start;
        display: flex;
        height: 150px;
        width: 370px;
        padding-top: 20px;
        padding-bottom: 40px;
    }


    .mobileInnerOne {
        width: 43.852px;
    }

    .mobileFourth13Integration {
        width: 352px;
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 32px; /* 228.571% */
    }

    .mobileLikeSmatchedWork {
        display: flex;
    }

    /*.fourth13Smatched {*/

    /*}*/

    /*.fourth13Two {*/

    /*}*/

    .mobileFourthImg {
        width: 100%;
        height: 580px;
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .mobileFourthImg1 {
        width: 319px;
        height: 370.157px;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
        top: 13px;
    }

    /*.fourthImg2 {*/
    /*    width: 490px;*/
    /*    height: 610px;*/
    /*    flex-shrink: 0;*/
    /*    transition: 1.5s ease;*/
    /*    position: absolute;*/
    /*    z-index: 2;*/

    /*}*/

    /*.fourthImg2:hover {*/
    /*    transform:  scale(1.2);*/

    /*}*/


    .mobileFourth24 {
        padding-top: 65px;
    }


    /*.innerTwo {*/

    /*}*/

    .mobileFourth24Two {
        padding-top: 35px;
    }

    /*.fourthHomeBox3 {*/

    /*}*/



    /*FIFTH MOBILE SECTION*/

    .fifthHomeContainer {
       display: none;
    }

    .mobileFifthHomeContainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 550px;

    }

    .fifthHomeBackground {
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        align-items: flex-end;
        background-image: url( ../../../public/rect01mobile.png);
        background-repeat: no-repeat;
        background-position: center center;
        background-size:contain;
    }
    
    
    .innerFifthHomeContainer1 {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }
    
    .innerFifthMainBox1 {
        width: 352px;
        height: 100px;
        display: flex;
        flex-direction: column;
    }
    
    .innerFifthBox1{
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        margin-top: 20px;

    }
    
    .highest {
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        justify-content: center;
        text-align: center;
    }
    
    .innerFifthMainBox2 {
        width: 100%;
        height: 200px;
    }
    
    .engagement {
        color: #E0FF22;
        text-align: center;
        font-family: Poppins;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        
    }
    
    .innerFifthMainBox2 {
        width: 352px;
        color: var(--White, #FFF);
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-top: 50px;
    }
    
    .appPurchase {
        width: 100%;
        height: 220px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .noInAppPurchase {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    
    .appPerc {
        display: none;
    }
    
    .makeInApp {
        display: none;
    }
    
    .onlyMakeOnePurchase {
        display: none;
    }

    /*SIXTH MOBILE SECTION*/

    .sixthHomeContainer{
        display: none;
    }

    .mobileSixthHomeContainer{
        width: 100%;
        height: 840px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
    
    .sixthBox1 {
        width: 100%;
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        margin-top: -150px;
    }
    
    .offerwallSolves, .problems {
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
    }
    
    .solves {
        color: #8764E3;
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    
    .sixthBox2 {
        width: 100%;
        display: flex;
        align-items: center;
        

    
    }
    .innerSixthBox2 {
        width: 352px;
        display: inline-block;
        vertical-align: top;
        line-height: 1;
        margin-top: -250px
    }
    
    
    .willingUsers {
        background: #9ad3cc;
        border-radius: 10px;
        width: 100%;
        height: 370px;
        position: relative;
        margin-bottom: 20px;
    }
    
    .hateUsers {
        background: #5c59c0;
        border-radius: 10px;
        width: 352px;
        height: 370px;
        position: relative;
    }
    
    .dollar, .megaphone {
        width: 100%;
        height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-top: 20px;
    }
    
    .pay, .ads {
        width: 75%;
        height: 230px;
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: Poppins, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        padding-top: 20px;
    
    }
    
    .ads {
        color: #FFFF;
    }


/*SEVENTH MOBILE SECTION*/

.seventhHomeContainer {
    display: none;
    
}

.seventhMobileHomeContainer{
    width: 100%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-top: 170px;
    
}


.innerSeventhHomeContainerMobile {
    height: 2000px;
    width: 100%;
}

.seventhHomeBox1Mobile {
    width: 90%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: auto;
    margin-top: 0px;
    flex-shrink: 1;

}

.implementingSolnMobile {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
}

.implementingMobile {
    color: var(--Primary-Black-1, #8764E3);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 7vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 8px;
}

.anMobile {
    padding-top: 13px;
}

.avenueMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;

}

.priceEngageMobile {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}
.engageMobile{
    margin-left: 8px;
}

.usersMobile{
    margin-right: 8px;
}
.engageMobile, .usersMobile {
    color: var(--Primary-Black-1, #8764E3);
}
.churnMobile {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.usersDecreaseMobile {
    display: flex;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 6vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    justify-content: center;
    text-align: center;
}

.seventhHomeBox2Mobile {
    display: flex;
    align-items: flex-end;
    width: 100%;
    background-color: #F7F8FC;
    justify-content: center;
}

.innerSeventhBoxContainerMobile {
    max-width: 363px;
    height: 3150px;

}

.innerSeven1Mobile {
    width: 100%;
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 100px;
}

.innerSevenBlogMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.65px;
}

.innerSevenArticlesMobile {
    color: var(--Primary-Blue-1, #2A2AFF);
    text-align: right;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.innerSeven2Mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.sevenRightMobile {
    width: 100%;
    height: 660px;
    border-radius: 10px 10px 0px 0px;
}

.topRightSevenMobile {
    width: 100%;
    border-radius: 10px 10px 0 0;
    padding-bottom: 50px;
    height: 595px;
}

.topRightSevenMobile > img {
    width: 100%;
    height: 200px;
    object-fit: contain;

}

.belowRightSevenMobile {
    width: 100%;
    height: 500px;
    border-radius: 0 0 10px 10px;
    background: #9AD3CC;
}

.innerBelowRightSevenMobile {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: -50px;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}

.belowLeftSevenMobile {
    width: 100%;
    height: 595px;
    border-radius: 10px;
    background: #E7CAA2;
    margin-top: 25px;
}

.belowLeftSevenMobile > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.exploringMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;


}

.dateTimeMobile {
    width: 80%;

    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;

}

.imgTimeMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25%;

}

.imgTimeMobile > img {
    width: 24px;
    height: 24px;
}

.minReadMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: contents;
}

.readMoreExploreMobile {
    width: 92%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;    
}

.readMoreButtonMobile {
    display: flex;
    width: 192px;
    height: 45px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid var(--Primary-Black-1, #1E1E1E);
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: -20%;
    
}

.readMoreButtonMobile:hover {
    background-color: black;
    color: white;
}



.sevenLeftMobile {
    width: 44%;
    height: 785px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.topFirstSevenMobile {
    width: 100%;
    height: 595px;
    border-radius: 10px;
    background: #9AD3CC;
    margin-bottom: 25px;
}

.topFirstSevenMobile > img {
    width: 100%;
}

.topLeftSevenMobile {
    width: 100%;
    height: 595px;
    border-radius: 10px;
    background: #DFDFDE;
    
}

.topLeftSevenMobile > img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.topLeftSevenBox1Mobile {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 10px
}



.masteringMobile{
    width: 382px;
    flex-shrink: 0;
    height: 80px;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    align-items: center;
    margin-top: 50px;
}

.leftDateTimeMobile {
    width: 95%;
    flex-shrink: 0;
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 50px;
    padding-right: 20px;
}

.leftImgTimeMobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 29%;
}

.LeftReadMoreExploreMobile {
    width: 85%;
    height: 90px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.seventhHomeBox3Mobile {
    width: 100%;
    height: 0px;
    margin-top: -1100px;
    position: relative;
}


.innerSeventhHomeMobile {
    width: 100%;
    padding-top: 50px;

}

.rightSevenBox3Mobile {
    width: 90%;
    height: 550px;
    margin: auto;

    
}

.getInTouchMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    display: flex;
    height: 50px;
    width: 533px;
}

.inTouchMobile {
    color: var(--Primary-Black-1, #8764E3);
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.scheduleMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.contactImgMobile {
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.contactLayOutMobile {
    display: flex;
    width: 100%;
    height: 80px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

.contactUsMobile {
    color: var(--Primary-Black-1, #1E1E1E);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;


}



.leftSevenBox3Mobile {
    width: 100%;
    height: 550px;
    display: flex;
    justify-content: flex-end;

}

.mobile005Mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: absolute;
    margin-top: -100px;
}



/* THIS SECTION FIXES THE FONT SIZING ISSUES ON SECTION SEVEN */


@media only screen and (max-width: 1400px) and (min-width: 400px){

    
    .implementingSolnMobile {
        display: flex;
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        justify-content: center;
    }
    
    .implementingMobile {
        font-size: 30px;
    }
    
    .avenueMobile {
        font-size: 24px; 
    }
    
    .priceEngageMobile {
        font-size: 24px;

    }

    .churnMobile {
        font-size: 24px;
    }

    .usersDecreaseMobile {
        font-size: 24px;
    }
  }

}