@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

.home,
.home * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.bookingFormPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bookingFormContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

.homeContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstHomeContainer {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  overflow: visible;
  display: inline-block;
  margin: auto;
}

.mobileFirstHomeContainer {
  display: none;
}

.gradientContainer {
  width: 100%;
  max-width: 1530px;
  position: absolute;
}

.gradientContainerLeft {
  /* background-color: rgba(76, 175, 80, 0.4); */
  z-index: 3;
  position: absolute;
  width: 70%;
  float: right;
  margin-left: 33%;
}

.topFirst {
  background: url(/public/images/backgroundImgs/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1026px;
}

.topFirstBg {
  width: 100vw;
  max-width: 1530px;
  display: flex;
  justify-content: center;
  background-size: contain;
}

.mobileTopFirstBg {
  display: none;
}

.mainFirst {
  width: 1220px;
  display: flex;
  margin-top: 100px;
}

.rightMain {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--White, #fff);
  font-family: gotham-medium;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%;
  z-index: 5;
}

.text2 {
  color: var(--White, #fff);
  font-family: gotham-book;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  z-index: 5;
}

.parag {
  width: 102%;
  padding-top: 30px;
  padding-bottom: 60px;
}

.innerParag {
  color: #fff;
  width: 80%;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.innerParag > span {
  font-family: gotham-medium;
  font-weight: 500;
}

.buttonText {
  display: flex;
  width: 210px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  background: #fff;
}
.buttonText1 {
  color: #0a0a0a;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 38px;
}

.buttonText2 {
  width: 320px;
}

.bottomHero {
  margin-top: 70px;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

.bottomHero h2 {
  color: #fff;
  width: 200px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  /* 185.714% */
}

.bottomHero1 {
  width: 156.035px;
  height: 34px;
  flex-shrink: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  /* 60% */
  letter-spacing: -2.25px;
}

.bottomHero2 {
  display: flex;
  width: 167.873px;
  height: 42px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 48% */
  letter-spacing: -2.25px;
}

.leftMain {
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 5;
}

.leftImgInfo {
  width: 70%;
  height: 650px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leftImg {
  width: 450px;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  .homeContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin-top: -150px;
  }

  /*FIRST MOBILE SECTION*/

  .firstHomeContainer {
    display: none;
  }

  .mobileFirstHomeContainer {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 1026px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .topFirst {
    background: none;
  }

  .mobileTopFirstBg {
    display: flex;
    height: 1026px;
    width: 100vw;
    background-repeat: no-repeat;
    justify-content: center;
    background: url(/public/images/backgroundImgs/heroBackgroundMobile.svg)
      no-repeat right top 0;
  }

  .mainFirstMobile {
    display: flex;
    width: 352px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
  }

  .rightMainMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .textMobile {
    color: var(--White, #fff);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 108%;
    z-index: 5;
  }

  .text2Mobile {
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 108%;
    z-index: 5;
  }

  .bottomHeroMobile {
    margin: 10px 0 50px 40px;
  }

  .bottomHeroMobile h2 {
    color: #fff;
    width: 200px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .bottomHeroRightMobile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
  }

  .bottomHero1Mobile {
    color: #fff;
    font-family: gotham-medium;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: -2.25px;
    margin-right: 35px;
  }

  .bottomHeroLeftMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottomHero2Mobile {
    color: #fff;
    font-family: gotham-medium;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -2.25px;
    margin-right: 30px;
  }

  .paragMobile {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .innerParagMobile {
    width: 352px;
    height: 95px;
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .innerParagMobile > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  .buttonTextMobile {
    margin: 0 auto;
    display: flex;
    width: 210px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    background: #fff;
  }

  .buttonText1Mobile {
    color: #0a0a0a;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 38px;
  }

  .leftMainMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .leftImgInfoMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftImgMobile {
    width: 150px;
    margin-top: -150px;
    margin-bottom: 100px;
    transition: all 2s ease;
  }
}
