@font-face {
  font-family: gotham-light;
  src: url('/public/fonts/Gotham/Gotham-Light.otf');
}

@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.Mobile,
.Mobile * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Added 'page' or 'Page' in front of 'Mobile' to not get confused when we
  are reffering to mobile design */

.pageMobileContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.containerToMatchDesign {
  /* This container is used when the section has a left and a right box.
  width: 1512px is the current(Jan/2024) design on Figma, so using this container
  makes easier to position boxes into the section and matches the design.
  justify-content: flex-start, instead of center is easier to align
  the boxes from margin left. */

  width: 1512px;
  display: flex;
  justify-content: flex-start;
}

.titleAllSections {
  color: #fff;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
  margin: 0;
}

.paragraphAllSections {
  color: #fff;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  margin: 0;
}

/*FIRST SECTION*/

.firstSection {
  max-height: 1026px;
  background: url(/public/images/backgroundImgs/heroBackground.svg) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.firstSectionContent {
  width: 449px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 60px;
  margin: -15px -342px 0px 200px;
}

.firstSectionContent > h1 {
  font-family: gotham-book;
  font-size: 80px;
  font-weight: 400;
  line-height: 87px;
}

.firstSectionContent > h1 > span {
  font-family: gotham-medium;
  font-weight: 500;
}

.firstSectionImage {
  margin-top: 240px;
}

/*SECOND SECTION*/

.secondSection {
  min-height: 1010px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
}

.secondSectionContent {
  width: 648px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

.secondSectionContent > h2 {
  color: #1e1e1e;
  line-height: 64px;
}

.secondSectionContent > p {
  color: #1e1e1e;
  font-size: 16px;
}

.secondSectionContent > p > span {
  font-family: gotham-medium;
  font-weight: 500;
}

/*THIRD SECTION*/

.thirdSection {
  min-height: 1034px;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.thirdSectionContent {
  width: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
  margin: 0px 263px 0px 114px;
}

.thirdSectionContent > h2 {
  line-height: 64px;
}

/*FOURTH SECTION*/

.fourthSection {
  min-height: 1512px;
  background: url(/public/images/mobilePage/mobile_sec4_bg_web.png) no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fourthSectionContent {
  width: 921px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}

.fourthSectionContent > h2 {
  line-height: 64px;
  text-align: center;
}

.fourthSectionContent > p {
  font-size: 16px;
  text-align: center;
}

.fourthSectionContent > ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 20px;
}

.fourthSectionContent > ul > li {
  color: #fff;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  width: 48%;
}

.fourthSectionContent > ul > li > img {
  width: 32px;
  margin: 6px 20px -6px 0;
}

.fourthSectionImage {
  margin-top: 200px;
  display: flex;
  flex-direction: column;
}

.groupSmartphones {
  width: 100%;
  margin-bottom: -218px;
}

.bottomBand {
  background-color: #101010;
  min-height: 197px;
}

.oneSmartphone {
  width: 25%;
  margin: -822px 0px -197px 376px;
}

.bookingFormPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bookingFormContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  /* FIRST MOBILE SECTION */

  .firstSection {
    min-height: 964px;
    background: url(/public/images/backgroundImgs/mobile_sec1_bg_mobile.png)
      no-repeat fixed right;
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .firstSectionImage {
    margin-top: 80px;
  }

  .firstSectionImage > img {
    margin-left: -80px;
  }

  .firstSectionContent {
    width: 350px;
    gap: 30px;
    margin: -70px 19px 85px 19px;
  }

  .firstSectionContent > h1 {
    font-family: gotham-book;
    font-size: 40px;
    font-weight: 400;
    line-height: 43px;
  }

  .firstSectionContent > h1 > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  .firstSectionContent > p {
    /* this is the only font-family inter-regular, maybe it was wrong in the design!; */
    /* In the design it seems thinner then the current result */
    font-family: inter-regular;
    font-size: 14px;
  }

  /* SECOND MOBILE SECTION*/

  .secondSection {
    min-height: 964px;
    flex-direction: column;
  }

  .secondSectionImage {
    margin-top: 70px;
  }

  .secondSectionContent {
    width: 350px;
    gap: 30px;
    margin: 10px 23px 70px 19px;
  }

  .secondSectionContent > h2 {
    font-size: 24px;
    line-height: 36px;
  }

  .secondSectionContent > p {
    font-size: 14px;
    line-height: 24px;
  }

  .secondSectionContent > p > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  /* THIRD MOBILE SECTION*/

  .thirdSection {
    min-height: 968px;
    flex-direction: column;
    justify-content: center;
  }

  .thirdSectionContent {
    width: 350px;
    gap: 30px;
    margin: 60px 24px 70px 21px;
  }

  .thirdSectionContent > h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .thirdSectionContent > p {
    font-size: 14px;
  }

  /* FOURTH MOBILE SECTION*/

  .fourthSection {
    min-height: 1212px;
    background: url(/public/images/mobilePage/mobile_sec4_bg_mobile.png)
      no-repeat;
    background-size: cover;
  }

  .fourthSectionContent {
    width: 350px;
    gap: 30px;
    margin: 50px 24px 80px 21px;
  }

  .fourthSectionContent > h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .fourthSectionContent > p {
    font-size: 14px;
  }

  .fourthSectionContent > ul {
    flex-direction: column;
    gap: 20px;
  }

  .fourthSectionContent > ul > li {
    font-size: 14px;
    width: 100%;
  }

  .fourthSectionContent > ul > li > img {
    width: 25px;
  }

  .fourthSectionImage {
    margin-top: 54px;
  }

  .groupSmartphones {
    width: 933px;
    margin-bottom: -139px;
  }

  .bottomBand {
    min-height: 118px;
  }

  .oneSmartphone {
    width: 226px;
    margin: -482px 0px 0px 232px;
  }
}
