@font-face {
    font-family: gotham-medium;
    src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: gotham-book;
    src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: inter-semibold;
    src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: inter-regular;
    src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.footerContainer {
    position: relative;
    background-color: #101010;
    width: 100vw;
    height: 754px;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

}

a {
    text-decoration: none;
    color: #dbdad7
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.footerName {
    align-items: flex-end;

}

.footerLeft {
    height: 754px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 100px;
}

.topLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 330px;
    height: 38px;
    margin-bottom: 100px;

}

.spanJoin {
    font: 500 30px'gotham-medium', normal;
    line-height: 38px;
    color: #FFFFFF;
}



.bottomLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* position: relative; */
    width: 330px;
    height: 221px;
    justify-content: space-between;
}

.monetize {
    position: relative;
    width: 330px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.spanMonetize {
    font: 400 16px'gotham-book', normal;
    line-height: 30px;
    color: #FFFFFF;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 247px;
    height: 30.3px;
    justify-content: space-between;
}

.copyright {
    position: relative;
    width: 330px;
    height: 24px;
}

.spanCopy {
    font: 400 14px'gotham-book', normal;
    line-height: 24px;
    color: #FFFFFF;
}


.footerRight {
    height: 754px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.topRight {
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.subscribe {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    display: flex;
    position: relative;
    width: 563px;
    flex-direction: row;
    justify-content: space-between;
}



.subscribeBox {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    width: 325px;
    height: 60px;
    margin-bottom: 20px
}

::placeholder {
    font: 400 14px'gotham-book', normal;
    color: #BABCCE;
    line-height: 24px;

}

.inputE {
    padding: 0px 15px;
    width: 325px;
    height: 60px;
    border: 0.9375px solid #FFFFFF;
    font: 400 14px'gotham-book', normal;
    background-color: #101010;
    line-height: 24px;
    color: #BABCCE;
}

.alertMessage {
    color: #BABCCE;
    font: 400 16px'gotham-book', normal;
    margin: 15px 0px;
}

.submit {
    display: flex;
    position: relative;
    width: 210px;
    height: 60px;

}

.submitButton {
    position: relative;
    width: 210px;
    height: 60px;
    background: #FFFFFF;
    color: #1E1E1E;
    font: 500 16px 'gotham-medium', normal;
    line-height: 15px;
    text-transform: uppercase;
    border: 0.9375px solid #FFFFFF;
}

.bottomRight {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 563px;
    height: 215px;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}


.spanTitleBottom {
    font: 600 16px 'inter-semibold', normal;
    line-height: 30px;
    color: #FFFFFF;
}

.spanTextBottom {
    font: 400 14px 'inter-regular', normal;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}

.supportedBy {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 215px;
    justify-content: space-between;
}

.company {
    display: flex;
    flex-direction: column;
    position: relative;
}

.services {
    display: flex;
    flex-direction: column;
    position: relative;
}

.legal {
    display: flex;
    flex-direction: column;
    position: relative;
}



/*MOBILE RESPONSIVENESS*/
@media only screen and (max-width: 1130px) and (min-width: 393px) {


    .footer,
    .footer * {
        box-sizing: border-box;

    }

    .footerContainer {
        width: 100vw;
        height: 100%;
        flex-direction: column;
        margin-top: 0px;
        justify-content: space-between;
        align-items: center;
        padding-top: 50px;
        padding-bottom: 250px;
        text-align: center;
    }

    .footerLeft {
        box-sizing: border-box;
        margin-top: 0px;
        height: 520px;
        width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topLeft {
        display: flex;
        flex-direction: column;
        align-items: normal;
        position: initial;
        margin-bottom: 0;
        width: 330px;
        height: 150px;
        justify-content: center;
        text-align: center;
        margin-bottom: 250px;
    }

    .bottomLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 330px;
        height: 221px;
        justify-content: space-between;
    }

    .copyright {
        position: relative;
        width: 330px;
        height: 24px;
        margin-top: 800px;
    }


    .heroBackground {
        display: none;
    }

    .heroBackgroundMobile {
        position: absolute;
        inset: 0;
        text-align: center;
        width: 100%;
        display: block;
        margin-top: 100px;
    }

    .heroH2 {
        color: #1e1e1e;
        text-align: left;
        font: 400 14px "Poppins", sans-serif;
        position: relative;
        top: 375px;
        width: 352px;
    }

    .heroGetInTouch {
        text-align: center;
    }

    .getIn {
        font: 700 24px "Poppins", sans-serif;
    }

    .touch {
        font: 700 24px "Poppins", sans-serif;
    }

    .footerRight {
        box-sizing: border-box;
        margin-top: 0px;
        width: 100vw;
        height: 310px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topRight {
        display: flex;
        position: relative;
        margin-bottom: 450px;
    }
    

    .bottomRight {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 563px;
        height: 215px;
        align-items: center;
        justify-content: center;
    }

    .spanTitleBottom {
        font: 600 16px 'inter-semibold', normal;
        line-height: 60px;
        color: #FFFFFF;
        text-align: center;
        margin-top: 15px;
        margin-bottom: -15px;
    }
    .form {
        display: flex;
        position: relative;
        width: 563px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .contactForm {
        font: 400 14px "Poppins", sans-serif;
        align-items: center;

    }

    .contactEmail {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 20px;
        inset: 0;
    }

    .contactSubject {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 20px;
        inset: 0;
    }


    .contactMessage {
        display: flex;
        position: relative;
        flex-direction: column;
        margin-top: 20px;
        inset: 0;
    }


    .dataBox {
        width: 352px;
        margin-top: 10px;
        position: relative;
    }

    .messageBox {
        border-style: solid;
        border-color: #1e1e1e;
        border-width: 1px;
        width: 352px;
        height: 157px;
        margin-top: 10px;
        position: relative;
        overflow: auto;
        resize: none;
    }

    .errorMessage {
        color: #ff0000;
        font-size: 15px;
    }


    .sendGroup {
        display: flex;
        position: relative;
        overflow: visible;
        flex-direction: column;
        margin-top: 50px;
        margin-left: 1px;
    }



    .sendText {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .sendButton {
        position: relative;
        overflow: visible;
    }

    .backgroundImage {
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        width: 1550px;
        height: 617px;
        margin: auto;
        overflow-x: hidden;
        margin-top: -450px;
        z-index: 50;
    }


    .innerFooterInfo {
        margin: 20px;
        height: 370px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        top: 200px;

    }

    .TopFooterInfo {
        height: 290px;
        display: flex;
        flex-direction: column;
        position: relative;
        justify-content: flex-start;
    }

    .rightFooterInfo {
        width: 100%;
        display: flex;
        align-items: flex-start;
        align-content: flex-start;
        flex-direction: column;
        flex-wrap: wrap;
        position: relative;
    }

    .footerLogo {
        width: 33.104px;
        height: 38.4px;
        display: flex;
        position: relative;
        margin-top: 10px;
    }

    .offerwallBox {
        width: 220px;
        height: 58px;
        padding-left: 12px;
        margin: 10px 5px;
        position: relative;

    }

    .offerwall {
        color: var(--White, #FFF);
        font-family: NordiquePro-Bold, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 105.3%;
        position: absolute;

    }

    .monetization {
        color: #E0FF22;
        font-family: NordiquePro-Bold, sans-serif;
        font-size: 19px;
        font-style: normal;
        font-weight: 400;
        line-height: 105.3%;

        position: absolute;
    }

    .imgValuable {
        width: 33.104px;
        height: 38.4px;
        position: absolute;

    }

    .valuable {
        width: 100%;
        height: 36px;
        flex-shrink: 0;
        font-size: 14px;
        top: 65px;
        position: relative;
    }

    .info {
        width: 100%;
        height: 140px;
        margin-top: 60px;

    }


    .leftFooterInfo {
        position: relative;
        margin-top: 20px;

    }


    .rightInfo {
        font-size: 14px;
        height: 140px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }

    .leftInfo {
        width: 24px;
        height: 24px;
        top: 80px;
        position: relative;
    }


    .footerDivider {
        height: 0.7px;
        width: 352px;
        margin-left: auto;
        margin-right: auto;

    }

    .downFooterInfo {
        width: 284px;
        height: 81px;
        text-align: center;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
        line-height: normal;
        margin-left: auto;
        margin-right: auto;
    }

}