@font-face {
    font-family: gotham-medium;
    src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: gotham-book;
    src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: inter-semibold;
    src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: inter-regular;
    src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.footerContainer {
    position: relative;
    background-color: #101010;
    width: 100vw;
    max-width: 1920px;
    height: 600px;
    margin: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-end;

}

.footerContainerMobile {
    display: none;

}

a {
    text-decoration: none;
    color: #dbdad7
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

a:hover, a:active {
    text-decoration: none;
}

.footerName {
    align-items: flex-end;

}

.footerLeft {
    height: 754px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    justify-content: flex-end;
    align-items: flex-start;
    margin-bottom: 120px;
}

.topLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 330px;
    height: 38px;
    margin-bottom: 100px;

}

.spanJoin {
    font: 500 30px'gotham-medium', normal;
    line-height: 38px;
    color: #FFFFFF;
}



.bottomLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 330px;
    height: 221px;
    justify-content: space-between;
}

.monetize {
    position: relative;
    width: 330px;
    height: 30px;
    margin-top: 20px;
}

.spanMonetize {
    font: 400 16px'gotham-book', normal;
    line-height: 30px;
    color: #FFFFFF;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
    width: 247px;
    height: 30.3px;
    justify-content: space-between;
}

.copyright {
    position: relative;
    width: 330px;
    height: 24px;
}

.spanCopy {
    font: 400 14px'gotham-book', normal;
    line-height: 24px;
    color: #FFFFFF;
}


.footerRight {
    height: 754px;
    box-sizing: border-box;
    display: flex;
    position: relative;
    flex-direction: column;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.topRight {
    display: flex;
    position: relative;
    margin-bottom: 100px;
}

.subscribe {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    display: flex;
    position: relative;
    width: 563px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}



.subscribeBox {
    display: flex;
    position: relative;
    justify-content: space-between;
    box-sizing: border-box;
    width: 325px;
    height: 60px;

}

::placeholder {
    font: 400 14px'gotham-book', normal;
    color: #BABCCE;
    line-height: 24px;

}

.inputE {
    padding: 0px 15px;
    width: 325px;
    height: 60px;
    border: 0.9375px solid #FFFFFF;
    font: 400 14px'gotham-book', normal;
    background-color: #101010;
    line-height: 24px;
    color: #BABCCE;
}

.alertMessage {
    color: #BABCCE;
    font: 400 16px'gotham-book', normal;
    margin: 15px 0px;
}

.submit {
    display: flex;
    position: relative;
    width: 210px;
    height: 60px;

}

.bottomRight {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 563px;
    height: 215px;
    align-content: flex-start;
    justify-content: space-around;
    align-items: flex-start;
}


.spanTitleBottom {
    font: 600 16px 'inter-semibold', normal;
    line-height: 30px;
    color: #FFFFFF;
}

.spanTextBottom {
    font: 400 14px 'inter-regular', normal;
    line-height: 24px;
    color: #FFFFFF;
    margin-top: 16px;
}

.supportedBy {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 215px;
    justify-content: space-between;
}

.company {
    display: flex;
    flex-direction: column;
    position: relative;
}

.services {
    display: flex;
    flex-direction: column;
    position: relative;
}

.legal {
    display: flex;
    flex-direction: column;
    position: relative;
}



/*MOBILE RESPONSIVENESS*/
@media only screen and (max-width: 1130px) and (min-width: 323px) {


    .footer,
    .footer * {
        box-sizing: border-box;

    }

    .footerContainer {
        display: none;
    }

    .footerContainerMobile {
        position: relative;
        background-color: #101010;
        width: 100vw;
         /* to make the content fits in case we do not show the newsletter form in some pages: */
        /* height: 1386px; */
        height: 100%;
        margin: auto;
        overflow-x: hidden;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }




    .topMobile {
        display: flex;
        position: relative;
        height: 300px;
        flex-direction: column;
        align-items: center;
    }

    .spanJoinMobile {
        font: 500 24px'gotham-medium', normal;
        line-height: 38px;
        color: #FFFFFF;
        margin-top: 50px;
    }


    .formMobile {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 140px;
        margin-top: 30px;
    }



    .subscribeBoxMobile {
        display: flex;
        position: relative;
        justify-content: space-between;
        box-sizing: border-box;
        width: 325px;
        height: 50px;
        margin-bottom: 30px;

    }

    ::placeholder {
        font: 400 14px'gotham-book', normal;
        color: #BABCCE;
        line-height: 24px;

    }

    .inputEMobile {
        padding: 0px 15px;
        width: 325px;
        height: 50px;
        border: 0.9375px solid #FFFFFF;
        font: 400 14px'gotham-book', normal;
        background-color: #101010;
        line-height: 24px;
        color: #BABCCE;
    }

    .alertMessageMobile {
        color: #BABCCE;
        font: 400 16px'gotham-book', normal;
        margin: 15px 0px;
    }

    .submitMobile {
        display: flex;
        position: relative;
        width: 210px;
        height: 50px;

    }

    .bottomMobile {
        display: flex;
        position: relative;
        height: 1086px;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .topBottomMobile {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 141px;
    }

    .monetizeMobile {
        position: relative;
        display: flex;
    }

    .spanMonetizeMobile {
        font: 400 14px'gotham-book', normal;
        line-height: 12px;
        color: #FFFFFF;
    }

    .socialMobile {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        position: relative;
        width: 247px;
        height: 30.3px;
        justify-content: space-between;
    }

    .bottomDivMobile {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        height: 772px;
        justify-content: space-between;
    }

    .spanTitleBottomMobile {
        font: 600 16px 'gotham-medium', normal;
        line-height: 30px;
        color: #FFFFFF;
    }

    .spanTextBottomMobile {
        font: 400 14px 'gotham-book', normal;
        line-height: 24px;
        color: #FFFFFF;
        margin-top: 16px;
    }

    .supportedByMobile {
        display: flex;
        flex-direction: column;
        position: relative;
        height: 239px;
        justify-content: space-between;
    }

    .companyMobile {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .legalMobile {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .servicesMobile {
        display: flex;
        flex-direction: column;
        position: relative;
        align-items: center;
    }

    .footerDivider {
        width: 351px;
        height: 0px;
        border: 0.5px solid #dccfff6e;
    }

    .copyrightMobile {
        position: relative;
        width: 330px;
        height: 24px;
        margin-bottom: 20px;
    }

    .spanCopyMobile {
        font: 400 14px'gotham-book', normal;
        line-height: 24px;
        color: #FFFFFF;
    }


}