@font-face {
    font-family: gotham-medium;
    src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
    font-family: gotham-book;
    src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
    font-family: inter-semibold;
    src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
    font-family: inter-regular;
    src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.nonprofit,
.nonprofit * {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.nonprofitContainer {
    width: 100vw;
    max-width: 1920px;
    margin: auto;
    margin-top: -120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*FIRST SECTION*/

.firstNonprofitContainer {
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    overflow: visible;
    display: inline-block;
    margin: auto;
}

.mobileFirstNonprofitContainer {
    display: none;
}


.gradientContainer {
    width: 100%;
    max-width: 1530px;
    position: absolute;
}



.gradientContainerLeft {
    /* background-color: rgba(76, 175, 80, 0.4); */
    z-index: 3;
    position: absolute;
    width: 70%;
    float: right;
    margin-left: 33%;

}


.topFirst {
    background: url(/public/heroBackground.svg) no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 950px;
}

.topFirstBg {
    width: 100vw;
    max-width: 1530px;
    display: flex;
    justify-content: center;
    background-size: contain;
}

.mobileTopFirstBg {
    display: none;
}

.mainFirst {
    width: 1110px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.rightMain {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text {
    color: var(--White, #FFF);
    font-family: gotham-book;
    font-size: 55px;
    font-style: normal;
    font-weight: 700;
    line-height: 131.5%;
    /* 72.325px */
    z-index: 5;
}

.text2 {
    color: var(--White, #FFF);
    font-family: gotham-light;
    font-size: 55px;
    font-style: normal;
    font-weight: 400;
    line-height: 131.5%;
    /* 72.325px */
    z-index: 5;
}


.parag {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
}

.innerParag {
    color: #FFF;
    width: 80%;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;

}

.buttonText {
    width: 210px;
    height: 60px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-bottom: 30px;
}

.buttonText1 {
    border: 1px solid #FFF;
    width: 220px;
    height: 60px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    color: #1E1E1E;
    text-align: center;
    text-transform: uppercase;
    font-family: gotham-medium, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 38px;
    z-index: 5;
    cursor: pointer;
}



.leftMain {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: left;
    z-index: 5;

}

.leftImgInfo {
    height: 1008px;
    display: flex;
    align-items: flex-end;
}

.leftImg {
    width: 700px;
    height: 837px;
}


/*SECOND SECTION*/

.secondNonprofitContainer {
    width: 100%;
    background-color: #F0F0F0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 803px;
}

.mobileSecondNonprofitContainer {
    display: none;
}


.secondNonprofitTopContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start
}

.secondNonprofitContainerBox1 {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: relative;
    z-index: 2;
    align-items: flex-start;
}

.whatOffer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.secondLeft {
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-medium;
    font-size: 53px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

}

.secondRight {
    width: 524px;
    display: flex;
    justify-content: flex-end;
    color: var(--Primary-Black-1, #1E1E1E);
    font-family: gotham-book;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: left;
}


.secondNonprofitBottomContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
}

.secondNonprofitContainerBox2 {
    width: 1100px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    align-items: flex-start;
    margin-top: 100px;
}

.secondBottomLeft {
    width: 310px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.secondBottomRight {
    width: 310px;
    height: 210px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bottomEmote {
    width: 55px;
}

.secondBottomTextContainer {
    width: 310px;
    height: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.spanBottom {
    color: var(--Primary-Black-1, #1E1E1E);
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}


/*THIRD SECTION*/

.thirdNonprofitContainer {
    width: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 894px;
}


.mobileThirdNonprofitContainer {
    display: none;
}

.thirdNonprofitContainerBox {
    height: 894px;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-repeat: no-repeat;
    background-size: cover;
}

.thirdSectionLeft {
    display: flex;
    justify-content: flex-start;
    width: 60%;
    height: 725px;
}

.imageThirdNonprofitContainer {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 200px;
}


.thirdSectionRight {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.innerThirdSectionRight {
    width: 520px;
    height: 356px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.thirdSectionRightH1 {
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-medium;
    font-size: 53px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;

}


.thirdSectionRightP {
    width: 524px;
    height: 180px;
    display: flex;
    margin-top: -20px;
    color: #1E1E1E;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-book;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}




/*FOURTH SECTION*/

.fourthNonprofitContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1034px;
}


.mobileFourthNonprofitContainer {
    display: none;
}

.fourthNonprofitContainerBox {
    height: 1034px;
    background: #1E1E1E;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.fourthSectionLeft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerFourthSectionLeft {
    height: 650px;
    width: 548px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.innerFourthFreeResources {
    height: 192px;
    color: #fff;
    font-feature-settings: 'clig'off, 'liga'off;
    font-family: gotham-medium;
    font-size: 53px;
    font-weight: 500;
    line-height: 120%;
}


.innerFourthText {
    width: 548px;
    height: 255px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

}

.spanText {
    color: #fff;
    font-family: gotham-book;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}



.fourthSectionRight {
    width: 755px;
    height: 1034px;
    display: flex;
    justify-content: flex-start;

}

.fourthSectionRight>img {
    width: 755px;
    height: 1034px;
    flex-shrink: 0;
}


.fourthNonprofitImage {
    width: 100%;
    height: 700px;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    margin-left: 150px;
    margin-top: 100px;
}

.buttonText2 {
    width: 210px;
    height: 60px;
    border: 1px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

/*MOBILE RESPONSIVENESS*/


@media only screen and (max-width: 1130px) and (min-width: 320px) {


    .homeContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100vw;
        position: relative;
        margin-top: -150px;
    }

    .waves {
        display: none;
    }

    /*FIRST MOBILE SECTION*/


    .firstHomeContainer {
        display: none;
    }

    .mobileFirstHomeContainer {
        background-color: #000000;
        display: flex;
        width: 100%;
        height: 1100px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .topFirst {
        background: none;
    }

    .topFirstBg {
        display: none;
    }



    .mobileTopFirstBg {
        display: flex;
        height: 1500px;
        width: 100vw;
        background-repeat: no-repeat;
        justify-content: center;
        background: url(/public/heroBackgroundMobile.svg) no-repeat right top 0;
    }


    .mainFirstMobile {
        display: flex;
        width: 352px;
        ;
        height: 1305px;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .rightMainMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .textMobile {
        color: var(--White, #FFF);
        font-family: gotham-light;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: 131.5%;
        /* 72.325px */
        z-index: 5;
    }

    .text2Mobile {
        color: var(--White, #FFF);
        font-family: gotham-light;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 131.5%;
        /* 72.325px */
        z-index: 5;
    }

    .bottomHeroMobile {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bottomHeroMobile h2 {
        color: #FFF;
        width: 200px;
        font-feature-settings: 'clig'off, 'liga'off;
        font-family: gotham-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 185.714% */
    }

    .bottomHeroRightMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .bottomHero1Mobile {
        color: #FFF;
        font-family: gotham-light;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 60% */
        letter-spacing: -2.25px;
        margin-right: 35px;
    }

    .bottomHeroLeftMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomHero2Mobile {
        color: #FFF;
        font-family: gotham-light;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 60% */
        letter-spacing: -2.25px;
        margin-right: 30px;
    }


    .forMonetize {
        display: flex;
    }

    .paragMobile {
        width: 100%;
        height: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .innerParagMobile {
        width: 352px;
        height: 95px;
        color: var(--White, #FFF);
        font-family: gotham-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 157.143% */
    }

    .buttonTextMobile {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonText1Mobile, .buttonText2Mobile {
        border: 1px solid #FFF;
        width: 220px;
        height: 46px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        color: var(--Modal-grey-1, #000000);
        text-align: center;
        font-family: gotham-light, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 5;
    }

    .buttonText2Mobile {
        width: 320px;
    }

    .downClickImgMobile {
        width: 99.5%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    .downClickImgMobile>img {
        width: 144px;
        height: 144px;
    }


    .leftMainMobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;


    }

    .leftImgInfoMobile {

        display: flex;
        justify-content: center;
        align-items: center;

    }

    .leftImgMobile {
        width: 350px;
        height: 350px;
        transition: all 2s ease;
    }





    /*SECOND MOBILE SECTION*/


    .secondHomeContainer {
        display: none;
    }

    .mobileSecondHomeContainer {
        background: #F0F0F0;
        display: flex;
        width: 100%;
        height: 950px;
        position: relative;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }


    .mainFirstMobile {
        display: flex;
        width: 352px;

        height: 1305px;
        flex-direction: column;
        align-items: center;
        padding-top: 100px;
    }

    .rightMainMobile {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 20px;
    }

    .textSecondMobile {
        color: var(--White, black);
        font-family: gotham-light;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
    }

    .bottomHeroMobile {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .bottomHeroMobile h2 {
        color: #FFF;
        width: 200px;
        font-feature-settings: 'clig'off, 'liga'off;
        font-family: gotham-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 26px;
        /* 185.714% */
    }

    .bottomHeroRightMobile {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    .bottomHero1Mobile {
        color: #FFF;
        font-family: gotham-light;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 60% */
        letter-spacing: -2.25px;
        margin-right: 35px;
    }

    .bottomHeroLeftMobile {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bottomHero2Mobile {
        color: #FFF;
        font-family: gotham-light;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
        /* 60% */
        letter-spacing: -2.25px;
        margin-right: 30px;
    }


    .forMonetize {
        display: flex;
    }

    .paragMobile {
        width: 100%;
        height: 90px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .innerParagSecondMobile {
        width: 352px;
        height: 95px;
        color: var(--White, black);
        font-family: gotham-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 157.143% */
    }

    .buttonTextMobile {
        display: inline-flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .buttonText1Mobile, .buttonText2Mobile {
        border: 1px solid #FFF;
        width: 220px;
        height: 46px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFFFFF;
        color: var(--Modal-grey-1, #000000);
        text-align: center;
        font-family: gotham-light, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 5;
    }

    .buttonText2Mobile {
        width: 320px;
    }

    .downClickImgMobile {
        width: 99.5%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
    }

    .downClickImgMobile>img {
        width: 144px;
        height: 144px;
    }


    .leftMainMobile {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 5;


    }

    .leftImgInfoSecondMobile {

        margin-top: -50px;
        margin-bottom: 100px;
    }

    .leftImgMobile {
        width: 350px;
        height: 350px;
        transition: all 2s ease;
    }


    /* THIRD MOBILE SECTION */

    .thirdHomeContainer {
        display: none;
    }

    .mobileThirdHomeContainer {
        width: 100%;
        min-height: 950px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height: 950px;
    }

    .mobileThirdHomeContainerBox {
        height: 400px;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-repeat: no-repeat;
        background-size: cover;
        align-items: center;
        justify-content: flex-start
    }

    .imageMobileThirdHomeContainer {
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-right: 650px;
    }

    .mobileThirdSectionLeft {
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .mobileThirdSectionLeftBG {
        display: block;
        width: 1060px;
        height: 350px;
        margin-right: 100px;
        border-radius: 0px 0px 120px 0px;
        background: #1E1E1E;
        box-shadow: -147px -139px 120px 20px rgba(0, 0, 0, 0.48) inset;
    }

    .mobileThirdHomeImage {
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: flex-end;
        margin: auto;
        margin-left: 50px;
        margin-top: 50px;
    }

    .mobileThirdSectionRight {
        margin-top: 50px;
        width: 393px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mobileThirdSectionRightH1 {
        color: #1E1E1E;
        font-feature-settings: 'clig'off, 'liga'off;
        font-family: gotham-light;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 120%;
    }


    .mobileThirdSectionRightH2 {
        width: 350px;
        display: flex;
        margin-top: -20px;
    }

    .mobileThirdSectionRightList {
        color: var(--White, black);
        font-family: gotham-light, sans-serif;
        width: 474px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        height: 110px;
    }

    .mobileThirdSectionRightList>li {
        display: flex;
        height: 50px;
        background: url(/public/bulletListIcon.svg) left;
        background-size: 2rem;
        background-repeat: no-repeat;
        padding-left: 50px;
        align-items: center;
        margin-top: 30px;
        margin-left: -40px;
    }

    .mobileButtonTextGold {
        margin-top: 230px;
    }

    .mobileButtonText1Gold {
        border: 1px solid #A18129;
        background: #A18129;
        width: 220px;
        height: 46px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Modal-grey-1, #fff);
        text-align: center;
        font-family: gotham-light, sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        z-index: 5;
    }

    /* FOURTH MOBILE SECTION */

    .mobileFourthHomeContainer {
        width: 100%;
        max-width: 1920px;
        height: 1580px;
        display: flex;
        justify-content: center;
        background-color: #F0F0F0
    }

    .fourthHomeContainer {
        display: none;
    }

    .subMobileFourthHomeContainer {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: 50px;
    }

    .mobileFourthHomeBox1 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: gotham-light, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: bold;
        line-height: 36px;
    }

    .mobileFourthHomeBox2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileFourthBox2Container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .mobileFourth1234 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
        gap: 20px
    }

    .mobileFourthOne, .mobileFourthTwo, .mobileFourthThree, .mobileFourthFour {
        width: 350px;
        height: 330px;
        display: flex;
        align-items: center;
        border: #F8F8F8 1px solid;
        box-shadow: 0px 0px 19px 0px rgba(0, 0, 0, 0.07);


    }

    /* .mobileFourth12One, .mobileFourth34One {
        margin-bottom: 50px
    } */

    /* .mobileFourth12One, .mobileFourth12Two {}
    
    .mobileFourth34One, .mobileFourth34Two {} */

    .mobileFourthInner12 {
        width: 100%;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .mobileFourthInner34 {
        padding-top: 50px;
        width: 100%;
        height: 100px;
        padding-left: 25px;
        padding-right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center
    }

    .mobileFourthInner12 h1 {
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .mobileFourthInner34 h1 {
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .mobileFourthStepOneImg {
        margin-top: -10px;
        margin-bottom: 25px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileFourthInnerTwo {
        width: 100%;
        height: 100px;
        padding-left: 45px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }


    .mobileFourthInnerTwo h1 {
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .mobileFourthStepTwoImg {
        margin-top: 10px;
        margin-bottom: 25px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileFourthInnerThree {
        width: 100%;
        height: 100px;
        padding-left: 45px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mobileFourthInnerThree h1 {
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .mobileFourthStepThreeImg {
        margin-top: -30px;
        margin-bottom: 25px;
        height: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mobileFourthInnerFour {
        width: 100%;
        height: 100px;
        padding-left: 45px;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .mobileFourthInnerFour h1 {
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 22px;
        font-style: normal;
        font-weight: 500;
        line-height: 30px;
        margin-bottom: 15px;
    }

    .mobileFourthStepFourImg {
        margin-top: -60px;
        margin-bottom: 25px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .mobileFourth12Integration {
        padding-top: 10px;
        color: var(--Primary-Black-1, #1E1E1E);
        font-family: gotham-light;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        display: flex;
        flex-direction: column;
        margin-top: -20px;
        text-align: center;
    }

    .likeSmatchedWork {
        display: flex;
    }

    .mobileFourth12Smatched {
        color: var(--Primary-Blue-1, #2A2AFF);
        font-family: gotham-light;
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        line-height: 32px;
    }

    .mobileFourth12Two {
        align-items: flex-start;
    }

    .mobileFourthImg1 {
        width: 490px;
        height: 580px;
        flex-shrink: 0;
        position: relative;
        z-index: 1;
        top: 13px;
    }

    .mobileFourthImg2 {
        width: 490px;
        height: 610px;
        flex-shrink: 0;
        transition: 1.5s ease;
        position: absolute;
        z-index: 2;

    }

    .mobileFourthImg2:hover {
        transform: scale(1.2);

    }

    .mobileFourthHomeBox3 {
        height: 230px;
        width: 100%;
        color: var(--Primary-Black-1, #1E1E1E);
        text-align: center;
        font-family: gotham-light, sans-serif;
        font-size: 40px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }


    .mobileFourthInnerFourthHomeBox3 {
        height: 120px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

    }











    /* FIFTH MOBILE SECTION */

    .fifthHomeContainer {
        display: none;
    }

    .mobileFifthHomeContainer {
        background-color: #000000;
        display: flex;
        width: 100%;
        height: 853px;
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mobileFifthHomeBackground {
        position: relative;
        display: flex;
        height: 853px;
        background-repeat: no-repeat;
        justify-content: center;
        background: url(/public/fifthHomeBg.svg) no-repeat right top 0;
        object-fit: fill;
    }


    .mobileInnerFifthHomeContainer {
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin-left: 15px;
    }

    .mobileInnerFifthTop {
        width: 226px;
        height: 114px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-top: -80px;
    }

    .mobileIcons {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 114px;
        justify-content: space-between;
    }

    .mobileBenefits {
        position: relative;
        display: flex;
        height: 119px;
        font: 500 15px 'DM Sans', normal;
        line-height: 1.5px;
        color: #C9C9C9;
        flex-direction: column;
    }


    .mobileInnerFifthBottom {
        width: 350px;
        height: 276px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
    }


    .mobileInnerFifthTitle {
        color: var(--White, #FFF);
        font: 500 24px 'gotham-medium', normal;
        line-height: 36px;
        display: flex;

    }


    .mobileInnerFifthText {
        color: var(--White, #FFF);
        font: 400 14px 'gotham-book', normal;
        line-height: 24px;
        display: flex;

    }


}