@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

@font-face {
  font-family: inter-semibold;
  src: url('/public/fonts/Inter/Inter-SemiBold.ttf');
}

@font-face {
  font-family: inter-regular;
  src: url('/public/fonts/Inter/Inter-Regular.ttf');
}

.nonprofit,
.nonprofit * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.nonprofitContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstNonprofitContainer {
  width: 100vw;
  position: relative;
  left: calc(-50vw + 50%);
  overflow: visible;
  display: inline-block;
  margin: auto;
}

.mobileFirstNonprofitContainer {
  display: none;
}

.gradientContainer {
  width: 100%;
  max-width: 1530px;
  position: absolute;
}

.topFirst {
  background: url(/public/images/backgroundImgs/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1026px;
}

.mobileTopFirstBg {
  display: none;
}

.mainFirst {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rightMain {
  width: 623px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--White, #fff);
  font-family: gotham-medium;
  font-size: 70px;
  font-style: normal;
  font-weight: 500;
  line-height: 76px;
  z-index: 5;
}

.text2 {
  color: var(--White, #fff);
  font-family: gotham-book;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: 76px;
  z-index: 5;
}

.parag {
  width: 114%;
  padding-top: 72px;
  padding-bottom: 60px;
}

.innerParag {
  color: #fff;
  width: 80%;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.leftMain {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 5;
}

.leftImgInfo {
  height: 1026px;
  display: flex;
  align-items: flex-end;
}

.leftImg {
  width: 700px;
  height: 837px;
}

/*SECOND SECTION*/

.secondNonprofitContainer {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 803px;
}

.mobileSecondNonprofitContainer {
  display: none;
}

.secondNonprofitTopContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.secondNonprofitContainerBox1 {
  width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: relative;
  z-index: 2;
  align-items: flex-start;
}

.whatOffer {
  width: 59%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.secondLeft {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.secondRight {
  width: 524px;
  display: flex;
  justify-content: flex-end;
  color: var(--Primary-Black-1, #1e1e1e);
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.secondNonprofitBottomContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.secondNonprofitContainerBox2 {
  width: 1100px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  position: relative;
  z-index: 2;
  align-items: flex-start;
  margin-top: 100px;
}

.arrow {
  margin-top: 70px;
}

.secondBottomLeft {
  width: 310px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.secondBottomRight {
  width: 310px;
  height: 210px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.bottomEmote {
  width: 55px;
}

.secondBottomTextContainer {
  width: 310px;
  height: 120px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.spanBottom {
  color: var(--Primary-Black-1, #1e1e1e);
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

/*THIRD SECTION*/

.thirdNonprofitContainer {
  width: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 894px;
}

.mobileThirdNonprofitContainer {
  display: none;
}

.thirdNonprofitContainerBox {
  height: 894px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-repeat: no-repeat;
  background-size: cover;
}

.thirdSectionLeft {
  display: flex;
  justify-content: flex-start;
  width: 60%;
  height: 725px;
}

.imageThirdNonprofitContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: 86px 0 0 268px;
}

.thirdSectionRight {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.innerThirdSectionRight {
  width: 520px;
  height: 356px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.thirdSectionRightH1 {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.thirdSectionRightP {
  width: 524px;
  height: 180px;
  display: flex;
  margin-top: -20px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

/*FOURTH SECTION*/

.fourthNonprofitContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1034px;
}

.mobileFourthNonprofitContainer {
  display: none;
}

.fourthNonprofitContainerBox {
  background: #1e1e1e;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.fourthSectionLeft {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerFourthSectionLeft {
  height: 650px;
  width: 548px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 28px 0 0 205px;
}

.innerFourthFreeResources {
  height: 192px;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-weight: 500;
  line-height: 120%;
}

.innerFourthText {
  width: 548px;
  height: 255px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.innerFourthText > p {
  color: #fff;
  font-family: gotham-book;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
}

.innerFourthText > p > span {
  font-family: gotham-medium;
  font-weight: 500;
}

.fourthSectionRight {
  width: 50%;
}

.fourthSectionRight > img {
  width: 960px;
  flex-shrink: 0;
}

.bookingFormPopup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.bookingFormContent {
  position: relative;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.closeButton:hover {
  background-color: #f0f0f0;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  .nonprofitContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    position: relative;
    margin-top: -150px;
  }

  /*FIRST MOBILE SECTION*/

  .firstNonprofitContainer {
    display: none;
  }

  .mobileFirstNonprofitContainer {
    background-color: #000000;
    display: flex;
    width: 100%;
    height: 1153px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .mobileTopFirst {
    display: flex;
    width: 100vw;
    background-repeat: no-repeat;
    justify-content: center;
    background: url(/public/images/backgroundImgs/heroBackgroundMobile.svg)
      no-repeat right top 0;
    height: 1026px;
    padding-top: 100px;
  }

  .mobileMainFirst {
    width: 352px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 42px;
  }

  .mobileTopMain {
    width: 341px;
    height: 411px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mobileImgInfo {
    display: flex;
    align-items: flex-start;
  }

  .mobileImg {
    width: 343px;
    height: 411px;
    margin-left: 25px;
  }

  .mobileBottomMain {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
    z-index: 5;
    flex-direction: column;
    margin-top: 20px;
  }

  .text {
    color: var(--White, #fff);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    z-index: 5;
  }

  .text2 {
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    z-index: 5;
  }

  .parag {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 60px;
  }

  .innerParag {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    width: 100%;
  }

  /*SECOND MOBILE SECTION*/

  .secondNonprofitContainer {
    display: none;
  }

  .mobileSecondNonprofitContainer {
    background-color: #f0f0f0;
    display: flex;
    width: 100%;
    height: 834px;
    position: relative;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .mobileSecondNonprofitTopContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }

  .mobileSecondNonprofitContainerBox1 {
    width: 350px;
    height: 204px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    z-index: 2;
    align-items: flex-start;
  }

  .whatOffer {
    width: 100%;
    height: 108px;
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .secondLeft {
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .secondRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    color: var(--Primary-Black-1, #1e1e1e);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
  }

  .mobileSecondNonprofitBottomContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
  }

  .mobileSecondNonprofitContainerBox2 {
    width: 354px;
    height: 483px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    z-index: 2;
    align-items: center;
  }

  .mobileSecondBottomLeft {
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .mobileSecondBottomMiddle {
    width: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }

  .mobileSecondBottomRight {
    width: 294px;
    height: 121px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .bottomEmote {
    width: 40px;
  }

  .mobileSecondBottomTextContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .spanBottom {
    color: var(--Primary-Black-1, #1e1e1e);
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    text-align: left;
  }

  .spanBottom > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  /* THIRD MOBILE SECTION */

  .thirdNonprofitContainer {
    display: none;
  }

  .mobileThirdNonprofitContainer {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 797px;
  }

  .thirdNonprofitContainerBox {
    height: 797px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  .thirdSectionLeft {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 311px;
  }

  .imageThirdNonprofitContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0;
  }

  .imageThirdNonprofitContainer img {
    width: 293px;
    height: 310.26px;
  }

  .thirdSectionRight {
    width: 100%;
    height: 228px;
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  .innerThirdSectionRight {
    width: 350px;
    height: 228px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .thirdSectionRightH1 {
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .thirdSectionRightP {
    width: 350px;
    height: 168px;
    display: flex;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-book;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
  }

  /* FOURTH MOBILE SECTION */

  .fourthNonprofitContainer {
    display: none;
  }

  .mobileFourthNonprofitContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1048px;
    background: #1e1e1e;
  }

  .mobileFourthNonprofitContainerBox {
    height: 1048px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;
  }

  .mobileFourthSectionLeft {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .imageMobileFourthNonprofitContainer {
    width: 100%;
    height: 471px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .mobileFourthNonprofitImage {
    width: 100%;
    height: 471px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .mobileFourthNonprofitImage img {
    width: 393px;
    height: 471px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .mobileFourthSectionRight {
    width: 393px;
    height: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }

  .mobileFourthSectionRightH1 {
    color: #fff;
    width: 350px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .bottomFourthMobile > p {
    font-feature-settings: 'clig' off, 'liga' off;
    width: 350px;
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
  }

  .bottomFourthMobile > p > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  .bookingFormPopup {
    display: unset;
  }

  .closeButton {
    top: 40px;
    right: 20px;
  }
}
