@font-face {
  font-family: gotham-medium;
  src: url('/public/fonts/Gotham/Gotham-Medium.otf');
}

@font-face {
  font-family: gotham-book;
  src: url('/public/fonts/Gotham/Gotham-Book.otf');
}

.game,
.game * {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  margin: 0;
}

h2 {
  margin: 0;
}

.gameContainer {
  width: 100vw;
  max-width: 1920px;
  margin: auto;
  margin-top: -120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*FIRST SECTION*/

.firstGameContainer {
  width: 100%;
  /* position: relative; */
  left: calc(-50vw + 50%);
  overflow: visible;
  display: inline-block;
  margin: auto;
}

.mobileFirstGameContainer {
  display: none;
}

.topFirst {
  background: url(/public/heroBackground.svg) no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 1026px;
}

.mobileTopFirstBg {
  display: none;
}

.mainFirst {
  width: 1220px;
  display: flex;
}

.rightMain {
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text {
  color: var(--White, #fff);
  font-family: gotham-medium;
  font-size: 80px;
  font-style: normal;
  font-weight: 500;
  line-height: 109%;
  /* 72.325px */
  z-index: 5;
}

.text2 {
  color: var(--White, #fff);
  font-family: gotham-book;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 109%;
  /* 72.325px */
  z-index: 5;
}

.parag {
  width: 100%;
  padding-top: 70px;
  padding-bottom: 70px;
}

.innerParag {
  color: #fff;
  width: 608px;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
}

.leftMain {
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 5;
}

.leftImgInfo {
  width: 90%;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameLeftImg {
  width: 750px;
  height: 863px;
  margin-top: 161px;
  /*transition: all 2s ease;*/
}

/*SECOND SECTION*/

.secondGameContainer {
  width: 100%;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1010px;
}

.mobileSecondGameContainer {
  display: none;
}

.secondGameContainerBox1 {
  height: 480px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  z-index: 2;
  align-items: flex-start;
  margin-top: 80px;
}

.levelUp {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.secondLeft {
  width: 600px;
  color: #07090a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 63.6px */
}

.secondRight {
  width: 450px;
  height: 240px;
}

.anOfferwallParag > p {
  width:569px;
  color: #07090a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.anOfferwallParag > p > span {
  color: #07090a;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
}

.secondGameContainerBox2 {
  width: 650px;
  height: 640px;
  flex-shrink: 0;
  margin: 45px 0 0 -91px;
  position: relative;
  z-index: 3;
  top: 70px;
}

.secondGameContainerBox2 > img {
  width: 800px;
  height: 680px;
  flex-shrink: 0;
}

/*THIRD SECTION*/

.thirdGameContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 1034px;
}

.mobileThirdGameContainer {
  display: none;
}

.thirdGameContainerBox {
  height: 950px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.thirdSectionLeft {
  width: 50%;
  height: inherit;
  display: flex;
  justify-content: flex-start;
}

.thirdSectionLeft > img {
  width: 100%;
  height: 1034px;
  flex-shrink: 0;
  object-fit: cover;
}

.thirdSectionLeftBG {
  display: block;
  width: 860px;
  height: 640px;
  margin-right: 100px;
  border-radius: 0px 0px 120px 0px;
  background: #1e1e1e;
  box-shadow: -147px -139px 120px 20px rgba(0, 0, 0, 0.48) inset;
}

.thirdGameImage {
  width: 100%;
  height: 700px;
  display: flex;
  justify-content: flex-end;
  margin: auto;
  margin-left: 150px;
  margin-top: 100px;
}

.thirdSectionRight {
  width: 50%;
  height: 1034px;
  background: #1e1e1e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerThirdSectionRight {
  height: 460px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-right: 150px;
}

.innerThirdAddWalls {
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.innerThirdInGame {
  width: 513px;
  height: 350px;
  color: #fff;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.innerThirdInGame > p > span {
  font-family: gotham-medium;
  font-weight: 500;
}

/*FOURTH SECTION*/

.fourthGameContainer {
  width: 100%;
  max-width: 1920px;
  height: 1041px;
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
}

.mobileFourthGameContainer {
  display: none;
}

.SubFourthGameContainer {
  height: 950px;
  display: flex;
  flex-direction: column;
}

.fourthGameBox1 {
  height: 300px;
  width: 1220px;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.growRevenue {
  width: 564px;
  height: 200px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 108.5%;
  /* 57.505px */
}

.uniqueOffers {
  width: 490px;
  height: 190px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 166.667% */
}

.fourthGameBox2 {
  height: 670px;
  width: 1100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fourthBox2Container {
  width: inherit;
  height: 650px;
  display: flex;
}

.fourthBox2Container1 {
  height: inherit;
  width: 550px;
  display: flex;
}

.innerFourthBox1 {
  height: inherit;
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.like,
.disLike {
  width: 95px;
  height: 95px;
  position: relative;
  top: 13px;
}

.verticalLike {
  width: 95px;
  height: 420px;
  display: flex;
  justify-content: center;
}

.vertical {
  width: 50px;
  height: 420px;
}

.innerFourthBox2 {
  height: 900px;
  width: 275px;
  display: flex;
  flex-direction: column;
}

.innerFourthBox2details1 {
  width: 214px;
  height: 220px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 160% */
  display: flex;
  align-items: flex-end;
}

.innerFourthBox2details2 {
  width: 214px;
  height: 240px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 160% */
  display: flex;
  align-items: center;
}

.innerFourthBox2details3,
.innerFourthBox2details3Players {
  width: 214px;
  height: 220px;
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 160% */
}

.innerFourthBox2details3Players {
  width: 200px;
}

.increasingRevenue {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}

.fourthBox2Container2 {
  height: 500px;
  width: 550px;
  display: flex;
}

/*FIFTH SECTION*/

.fifthGameContainer {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 1010px;
}

.fifthGameBackground {
  width: 100%;
  height: 801px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  z-index: 5;
}

.fifthGameLeft {
  width: 50%;
  height: 801px;
  flex-shrink: 0;
  border-radius: 0px 0px 120px 0px;
  background: #1e1e1e;
  box-shadow: -147px -139px 120px 20px rgba(0, 0, 0, 0.48) inset;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fifthGameLeft img {
  margin-left: 250px;
}

.fifthGameRight {
  width: 50%;
  height: 801px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.innerFifthGameRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 524px;
  height: 580px;
  margin-right: 250px;
}

.fifthGameRightModel {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-medium;
  font-size: 53px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
  /* 63.6px */
}

.increaseSubscription {
  color: #1e1e1e;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: gotham-book;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 200% */
}

.increaseSubscription > span {
  font-family: gotham-medium;
  font-weight: 500;
}

.mobileFifthGameContainer {
  display: none;
}

/*MOBILE RESPONSIVENESS*/

@media only screen and (max-width: 1130px) and (min-width: 320px) {
  /*FIRST MOBILE SECTION*/

  .firstGameContainer {
    display: none;
  }

  .mobileFirstGameContainer {
    background: url(/public/images/mobile_sec1_bg_mobile.png) no-repeat fixed
      right;
      background-color: #000000;
    display: flex;
    width: 100%;
    height: 1026px;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .rightMainMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 30px;
    margin: 20px 0 0 10px;
  }

  .textMobile {
    color: var(--White, #fff);
    font-family: gotham-medium;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: 43px;
    /* 72.325px */
    z-index: 5;
  }

  .text2Mobile {
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 43px;
    /* 72.325px */
    z-index: 5;
  }

  .paragFirstMobile {
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
  }

  .innerParagFirstMobile {
    width: 368px;
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    /* 157.143% */
  }

  .leftMainMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    margin-top: 80px;
  }

  .leftImgInfoMobile {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftImgMobile {
    width: 362px;
    height: 416px;
    transition: all 2s ease;
  }

  /*SECOND MOBILE SECTION*/

  .secondGameContainer {
    display: none;
  }

  .mobileSecondGameContainer {
    background: #f0f0f0;
    display: flex;
    width: 100%;
    height: 760px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  
  .mainSecondMobile {
    display: flex;
    width: 352px;
    /* height: 1105px; */
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
  }

  .textSecondMobile {
    color: var(--White, black);
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .innerParagSecondMobile {
    width: 361px;
    height: 95px;
    color: var(--White, black);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 157.143% */
  }

  .innerParagSecondMobile > span {
    font-family: gotham-medium;
    font-weight: 500;
  }

  .leftMainMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .secondImgMobile {
    width: 350px;
    height: 300px;
    transition: all 2s ease;
  }

  /* THIRD MOBILE SECTION */

  .thirdGameContainer {
    display: none;
  }

  .mobileThirdGameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 1006px;
    background: #1e1e1e;
  }

  .mobileThirdGameContainerBox {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;
  }

  .imageMobileThirdGameContainer {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .mobileThirdSectionLeft {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .mobileThirdSectionLeftBG {
    display: block;
    width: 1060px;
    height: 350px;
    margin-right: 100px;
    border-radius: 0px 0px 120px 0px;
    background: #1e1e1e;
    box-shadow: -147px -139px 120px 20px rgba(0, 0, 0, 0.48) inset;
  }

  .mobileThirdGameImage {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .mobileThirdGameImage img {
    height: 540px;
    display: flex;
    justify-content: center;
    margin: auto;
  }

  .mobileThirdSectionRight {
    margin: 200px 0 0 41px;
    width: 393px;
    display: flex;
    flex-direction: column;
  }

  .mobileThirdSectionRightH1 {
    color: #fff;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
  }

  .bottomThirdMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .paragThirdMobile {
    width: 100%;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .innerParagThirdMobile {
    width: 350px;
    height: 95px;
    color: var(--White, #fff);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    /* 157.143% */
  }

  /* FOURTH MOBILE SECTION */

  .fourthGameContainer {
    display: none;
  }

  .mobileFourthGameContainer {
    background: #f0f0f0;
    display: flex;
    width: 100%;
    height: 1000px;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .mainFourthMobile {
    margin-top: 50px;
    display: flex;
    width: 352px;
    /* height: 1105px; */
    flex-direction: column;
    align-items: center;
    /* padding-top: 100px; */
  }

  .textFourthMobile {
    color: var(--White, black);
    font-family: gotham-book;
    font-size: 24px;
    font-style: normal;
    font-weight: bold;
    line-height: 36px;
  }

   .paragFourthMobile {
    width: 100%;
    height: 90px;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .innerParagFourthMobile {
    width: 352px;
    height: 95px;
    color: var(--White, black);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    /* 157.143% */
  }

  .bottomFourthMobile {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
  }

  .fourthImgMobile {
    width: 350px;
    height: 100%;
    transition: all 2s ease;
  }

  /* FIFTH MOBILE SECTION */

  .fifthGameContainer {
    display: none;
  }

  .mobileFifthGameContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 879px;
  }

  .mobileFifthGameContainerBox {
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-content: flex-start;
  }

  .mobileFifthGameImage {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
  }

  .mobileFifthSectionRight {
    width: 393px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 24px;
  }

  .mobileFifthSectionRightH1 {
    margin-left: 20px;
    color: #1e1e1e;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: gotham-medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px;
  }

  .increaseSubscription {
    width: 353px;
    color: var(--White, black);
    font-family: gotham-book;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }

  .increaseSubscription > span {
    font-family: gotham-medium;
    font-weight: 500;
  }
}
